<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<div class="mt-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="/usr/index">홈</a></li>
							<li class="breadcrumb-item">내 쇼핑</li>
							<li class="breadcrumb-item active" aria-current="page">판매 내역</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<section class="mt-8 mb-14">
		<div class="container">
			<div class="row">
 				<div class="col-lg-12">
					<form class="row g-5 needs-validation" novalidate method="post" id="form" name="form">
					
						<input type="hidden" id="msoSeq" name="msoSeq" th:value="${salesDeliItem?.msoSeq}">
						
						<div class="row mb-8 g-5">
							<div class="col-lg-8">
								<div class="card card-lg">
									<div class="card-body p-8 d-flex flex-column">
										<div class="mb-3">
											<h5 class="mb-1">구매 정보</h5>
										</div>
										<table class="table table-borderless">
											<tbody>
												<tr>
													<th width="120px">주문 번호</th>
													<td th:text="${salesDeliItem?.msoSeq}"></td>
												</tr>
												<tr>
													<th>구매자</th>
													<td th:text="${salesDeliItem?.omName}"></td>
												</tr>
												<tr>
													<th>게임명</th>
													<td th:text="${salesDeliItem?.gName}"></td>
												</tr>
												<tr>
													<th>판매가</th>
													<td th:text="${'￦ ' + @doDoUtil.formatNumberComma(salesDeliItem?.msPrice)}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="mt-4 card card-lg">
									<div class="card-body p-8 d-flex flex-column">
										<div class="mb-3">
											<h5 class="mb-1">배송 정보</h5>
										</div>
										<table class="table table-borderless">
											<tbody>
												<tr>
													<th width="120px">받는이</th>
													<td th:text="${salesDeliItem?.msoDeliName}"></td>
												</tr>
												<tr>
													<th>연락처</th>
													<td th:text="${salesDeliItem?.msoDeliTel}"></td>
												</tr>
												<tr>
													<th rowspan="3">주소</th>
													<td th:text="${salesDeliItem?.msoDeliPostcode}"></td>
												</tr>
												<tr>
													<td th:text="${salesDeliItem?.msoDeliRoadAddr}"></td>
												</tr>
												<tr>
													<td th:text="${salesDeliItem?.msoDeliDetailAddr}"></td>
												</tr>
												<tr>
													<th>배송메모</th>
													<td th:text="${salesDeliItem?.msoDeliMemo}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="mt-4 card card-lg">
									<div class="card-body p-8 d-flex flex-column gap-3">
										<div class="mb-3">
											<h5 class="mb-1">송장 정보</h5>
										</div>
										<div class="row">
											<div class="col-12">
												<span th:if="${salesDeliItem?.msoDeliStateCd == 52}" class="badge bg-primary" 
													th:text="${@codeService.selectOneCachedCode(salesDeliItem?.msoDeliStateCd)}"></span>
												<span th:if="${salesDeliItem?.msoDeliStateCd == 53}" class="badge bg-warning" 
													th:text="${@codeService.selectOneCachedCode(salesDeliItem?.msoDeliStateCd)}"></span>
												<span th:if="${salesDeliItem?.msoDeliStateCd == 54}" class="badge bg-secondary"
													th:text="${@codeService.selectOneCachedCode(salesDeliItem?.msoDeliStateCd)}"></span>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-6">
												<h6 class="h6">택배사<span style="color: red;"> *</span></h6>
												<select class="form-select" id="msoDeliCompCd" name="shStateCd" required>
													<option value="" th:selected="${salesDeliItem?.msoDeliCompCd == null}">선택</option>
													<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.SALES_ORDER_CODE_GROUP_SEQ_DELI_COMP)}"
														th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
														th:selected="${#strings.equals(codeList.cSeq, salesDeliItem?.msoDeliCompCd)}"></option>         
												</select>
												<div class="invalid-feedback"> 택배사를 선택해 주세요. </div>
											</div>
											<div class="col-6">
												<h6 class="h6">송장번호<span style="color: red;"> *</span></h6>
												<input type="text" class="form-control rounded-end" autocomplete="off" 
													id="msoDeliNo" name="msoDeliNo" th:value="${salesDeliItem?.msoDeliNo}" required />
												<div class="invalid-feedback"> 송장번호를 입력해 주세요. </div>
											</div>
										</div>
									</div>
								</div>
    							
								<div class="mt-6 mb-3 text-center">
									<button class="btn btn-primary" type="button" id="btnSave">저장</button><span>&nbsp;</span>
									<a href="/usr/sales/SalesUsrList" class="btn btn-light">취소</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
	//Seq
	let msSeq = document.querySelector("input[name=msoSeq]");
	
	// URL
	let fom = document.querySelector("form[name=form]");
	
	// Input
	let msoDeliCompCd = document.getElementById("msoDeliCompCd");
	let msoDeliNo = document.getElementById("msoDeliNo");
	
	function submit(goUrl) {
		fom.action = goUrl;
		fom.submit();
	}
</script>

<!-- Validation: Bootstrap -->
<script type="text/javascript">
	// btnFee 버튼 클릭시
	document.getElementById("btnFee").addEventListener("click", function () {
		resetValidation(msFee);
		
		if (!positiveNumberValidation(msPrice)) {
			msFeeInvalidFeedback.textContent = "판매 가격(0보다 큰 정수)을 입력 후 확인해 주세요.";
			msFee.classList.add("is-invalid");
			msPrice.focus();
			
			return;
		}
		
		msFee.classList.add("is-valid");
    	msFee.value = getFee();
	});
	
	function getFee() {
		return Math.ceil(parseFloat(msPrice.value) * 0.02);
	}
  
	// btnSave 클릭시
	document.getElementById("btnSave").onclick = function() {
		var focus = false; // Validation 후 Focus 줘야 하는 Input
		
		// msTitle 체크
		resetValidation(msTitle);
		
		if (!strValidation(msTitle)) {
			msTitle.classList.add("is-invalid");
			
			if (!focus) {
				msTitle.focus();
				focus = true;
			}
		} else {
			msTitle.classList.add("is-valid");
		}
		
		// msPrice 체크
		resetValidation(msPrice);
		
		if (!positiveNumberValidation(msPrice)) {
			msPrice.classList.add("is-invalid");
			
			if (!focus) {
				msPrice.focus();
				focus = true;
			}
		} else {
			msPrice.classList.add("is-valid");
		}
		
		// msFee 체크
		resetValidation(msFee);
		
		if (!positiveNumberValidation(msPrice)) {
			msFeeInvalidFeedback.textContent = "판매 가격(0보다 큰 정수)을 입력 후 확인해 주세요.";
			msFee.classList.add("is-invalid");
			
			if (!focus) {
				msPrice.focus();
				focus = true;
			}
		} else if (msFee.value != getFee()) {
			msFeeInvalidFeedback.textContent = "수수료 확인 버튼을 클릭해 주세요.";
			msFee.classList.add("is-invalid");
			
			if (!focus) {
				btnFee.focus();
				focus = true;
			}
		} else {
			msFee.classList.add("is-valid");
		}
		
		// Alert/Modal과 달리 모든  Input창을 한번에 확인해야 하므로 return false 시
		// Focus 줘야 하는 Input(Validation에 처음으로 걸린 Input)이 있는지 확인
		if (focus) return false;

		msTitle.value = msTitle.value.trim();
		msDesc.value = msDesc.value.trim();
		msPrice.value = msPrice.value.trim();
		
		if(msSeq.value == "0" || msSeq.value == "") {
			submit("/usr/sales/SalesUsrInst");
		} else {
			salesModify();
		}
	}
	
	// msTitle Input 시 체크
	msTitle.addEventListener("input", function() {
		resetValidation(msTitle);
		
		if (!strValidation(msTitle)) {
			msTitle.classList.add("is-invalid");
		} else {
			msTitle.classList.add("is-valid");
		}		
	});
	
	// msPrice Input 시 체크
	msPrice.addEventListener("input", function() {
		resetValidation(msPrice);
		
		if (!positiveNumberValidation(msPrice)) {
			msPrice.classList.add("is-invalid");
		} else {
			msPrice.classList.add("is-valid");
		}
	});
	
	function salesModify() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/sales/SalesUsrUpdt"
			,data : { 
				"msSeq" : $("#msSeq").val(),
				"msTitle" : $("#msTitle").val(),
				"msDesc" : $("#msDesc").val(),
				"msPrice" : $("#msPrice").val(),
				"msFee" : $("#msFee").val(),
				"msUpdtDate" : $("#msUpdtDate").val()
			}
			,success: function(response) {
				if (response.rt == "fail") {
					showModalAlert("확인", "구매중이거나 판매완료 되어 수정하실 수 없습니다.");
				} else {
					submit("/usr/sales/SalesUsrDetail");
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	$("#modalAlert").on("hidden.bs.modal", function (e) {
		submit("/usr/sales/SalesUsrDetail");
	});
</script>

</body>
</html>