<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<div class="mt-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="/usr/index">홈</a></li>
							<li class="breadcrumb-item">내 쇼핑</li>
							<li class="breadcrumb-item active" aria-current="page">판매 내역</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<section class="mt-8 mb-14">
		<div class="container">
			<div class="row">
 				<div class="col-lg-12">
					<form class="row g-5 needs-validation" novalidate method="post" id="form" name="form">
					
						<input type="hidden" id="msoSeq" name="msoSeq" th:value="${salesDeliItem?.msoSeq}">
						
						<div class="row mb-8 g-5">
							<div class="col-lg-8">
								<div class="card card-lg">
									<div class="card-body p-8 d-flex flex-column">
										<div class="mb-3">
											<h5 class="mb-1">판매 정보</h5>
										</div>
										<table class="table table-borderless mb-0">
											<tbody>
												<tr>
													<th width="120px">주문 번호</th>
													<td th:text="${salesDeliItem?.msoSeq}"></td>
												</tr>
												<tr>
													<th>게임명</th>
													<td th:text="${salesDeliItem?.gName}"></td>
												</tr>
												<tr>
													<th>구매자</th>
													<td th:text="${salesDeliItem?.omName}"></td>
												</tr>
												<tr>
													<th>구매일</th>
													<td th:text="${salesDeliItem?.msoRegiDate}"></td>
												</tr>
												<tr>
													<th>판매가</th>
													<td th:text="${'￦ ' + @doDoUtil.formatNumberComma(salesDeliItem?.msPrice)}"></td>
												</tr>
												<tr>
													<th>판매수수료</th>
													<td th:text="${'￦ ' + @doDoUtil.formatNumberComma(salesDeliItem?.msFee)}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="mt-4 card card-lg">
									<div class="card-body p-8 d-flex flex-column">
										<div class="mb-3">
											<h5 class="mb-1">배송 정보</h5>
										</div>
										<table class="table table-borderless mb-0">
											<tbody>
												<tr>
													<th width="120px">받는이</th>
													<td th:text="${salesDeliItem?.msoDeliName}"></td>
												</tr>
												<tr>
													<th>연락처</th>
													<td th:text="${salesDeliItem?.msoDeliTel}"></td>
												</tr>
												<tr>
													<th rowspan="3" class="py-1">주소</th>
													<td th:text="${salesDeliItem?.msoDeliPostcode}" class="py-1"></td>
												</tr>
												<tr>
													<td th:text="${salesDeliItem?.msoDeliRoadAddr}" class="py-1"></td>
												</tr>
												<tr>
													<td th:text="${salesDeliItem?.msoDeliDetailAddr}" class="py-1"></td>
												</tr>
												<tr>
													<th>배송메모</th>
													<td th:text="${salesDeliItem?.msoDeliMemo}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="mt-4 card card-lg">
									<div class="card-body p-8 d-flex flex-column gap-3">
										<div class="mb-3">
											<h5 class="mb-1">송장 정보</h5>
										</div>
										<div class="row">
											<div class="col-12">
												<span th:if="${salesDeliItem?.msoDeliStateCd == @constants.SALES_CODE_DELI_READY}" class="badge bg-primary" 
													th:text="${@codeService.selectOneCachedCode(salesDeliItem?.msoDeliStateCd)}"></span>
												<span th:if="${salesDeliItem?.msoDeliStateCd == @constants.SALES_CODE_DELI_IN}" class="badge bg-warning" 
													th:text="${@codeService.selectOneCachedCode(salesDeliItem?.msoDeliStateCd)}"></span>
												<span th:if="${salesDeliItem?.msoDeliStateCd == @constants.SALES_CODE_DELI_COMPLETED}" class="badge bg-secondary"
													th:text="${@codeService.selectOneCachedCode(salesDeliItem?.msoDeliStateCd)}"></span>
											</div>
										</div>
										<div th:if="${salesDeliItem?.msoDeliCompCd == null 
											or salesDeliItem?.msoDeliStateCd == @constants.SALES_CODE_DELI_READY}" class="row mt-3">
											<div class="col-6">
												<h6 class="h6">택배사<span style="color: red;"> *</span></h6>
												<select class="form-select" id="msoDeliCompCd" name="msoDeliCompCd" required>
													<option value="" th:selected="${salesDeliItem?.msoDeliCompCd == null}">선택</option>
													<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.SALES_ORDER_CODE_GROUP_SEQ_DELI_COMP)}"
														th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
														th:selected="${#strings.equals(codeList.cSeq, salesDeliItem?.msoDeliCompCd)}"></option>         
												</select>
												<div class="invalid-feedback"> 택배사를 선택해 주세요. </div>
											</div>
											<div class="col-6">
												<h6 class="h6">송장번호<span style="color: red;"> *</span></h6>
												<input type="text" class="form-control rounded-end" autocomplete="off" 
													id="msoDeliNo" name="msoDeliNo" th:value="${salesDeliItem?.msoDeliNo}" required />
												<div class="invalid-feedback"> 송장번호를 입력해 주세요. </div>
											</div>
										</div>
										<div th:unless="${salesDeliItem?.msoDeliCompCd == null 
											or salesDeliItem?.msoDeliStateCd == @constants.SALES_CODE_DELI_READY}" class="row mt-3">
											<div class="col-6">
												<h6 class="h6">택배사</h6>
												<select class="form-select" id="msoDeliCompCd" name="msoDeliCompCd" disabled>
													<option value="" th:selected="${salesDeliItem?.msoDeliCompCd == null}">선택</option>
													<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.SALES_ORDER_CODE_GROUP_SEQ_DELI_COMP)}"
														th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
														th:selected="${#strings.equals(codeList.cSeq, salesDeliItem?.msoDeliCompCd)}"></option>         
												</select>
											</div>
											<div class="col-6">
												<h6 class="h6">송장번호<span style="color: red;"> *</span></h6>
												<input type="text" class="form-control rounded-end" autocomplete="off" 
													id="msoDeliNo" name="msoDeliNo" th:value="${salesDeliItem?.msoDeliNo}" disabled />
											</div>
											<div class="mt-2 col-12">
												<span class="small">배송준비중일 때만 수정하실 수 있습니다.</span>
											</div>
										</div>
									</div>
								</div>
								<div th:if="${salesDeliItem?.msoDeliCompCd == null 
									or salesDeliItem?.msoDeliStateCd == @constants.SALES_CODE_DELI_READY}"
									class="mt-6 mb-3 text-center">
									<button class="btn btn-primary" type="button" id="btnSave">저장</button><span>&nbsp;</span>
									<a href="/usr/sales/SalesUsrMySalesList" class="btn btn-light">취소</a>
								</div>
								<div th:unless="${salesDeliItem?.msoDeliCompCd == null 
									or salesDeliItem?.msoDeliStateCd == @constants.SALES_CODE_DELI_READY}"
									class="mt-6 mb-3 text-center">
									<a th:if="${salesDeliItem?.msoDeliStateCd == @constants.SALES_CODE_DELI_IN}"
										class="btn btn-primary" href="javascript:void(0);"
										onclick="submit('/usr/sales/SalesUsrMySalesDeliComplateUpdt')">배송완료 처리</a><span>&nbsp;</span>
									<a href="/usr/sales/SalesUsrMySalesList" class="btn btn-light">목록</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
	// URL
	let fom = document.querySelector("form[name=form]");
	
	// Input
	let msoDeliCompCd = document.getElementById("msoDeliCompCd");
	let msoDeliNo = document.getElementById("msoDeliNo");
	
	function submit(goUrl) {
		fom.action = goUrl;
		fom.submit();
	}
</script>

<!-- Validation: Bootstrap -->
<script type="text/javascript">
	// btnSave 버튼 클릭시
	document.getElementById("btnSave").addEventListener("click", function () {
		var focus = false; // Validation 후 Focus 줘야 하는 Input
		
		// msoDeliCompCd 체크
		resetValidation(msoDeliCompCd);
		
		if (!strValidation(msoDeliCompCd)) {
			msoDeliCompCd.classList.add("is-invalid");
			
			if (!focus) {
				msoDeliCompCd.focus();
				focus = true;
			}
		} else {
			msoDeliCompCd.classList.add("is-valid");
		}
		
		// msoDeliNo 체크
		resetValidation(msoDeliNo);
		
		if (!positiveNumberValidation(msoDeliNo)) {
			msoDeliNo.classList.add("is-invalid");
			
			if (!focus) {
				msoDeliNo.focus();
				focus = true;
			}
		} else {
			msoDeliNo.classList.add("is-valid");
		}
		
		// Alert/Modal과 달리 모든  Input창을 한번에 확인해야 하므로 return false 시
		// Focus 줘야 하는 Input(Validation에 처음으로 걸린 Input)이 있는지 확인
		if (focus) return false;

		msoDeliNo.value = msoDeliNo.value.trim();

		submit("/usr/sales/SalesUsrMySalesDeliUpdt");
	});
	
	// msoDeliCompCd Input 시 체크
	msoDeliCompCd.addEventListener("input", function() {
		resetValidation(msoDeliCompCd);
		
		if (!strValidation(msoDeliCompCd)) {
			msoDeliCompCd.classList.add("is-invalid");
		} else {
			msoDeliCompCd.classList.add("is-valid");
		}		
	});
	
	// msoDeliNo Input 시 체크
	msoDeliNo.addEventListener("input", function() {
		resetValidation(msoDeliNo);
		
		if (!positiveNumberValidation(msoDeliNo)) {
			msoDeliNo.classList.add("is-invalid");
		} else {
			msoDeliNo.classList.add("is-valid");
		}
	});
	
	document.getElementById("btnDeliComplate").addEventListener("click", function () {
		alert("123");
	});
</script>

</body>
</html>