<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="footer"> <!-- 중복되는 head 부분 블록 처리 -->
		
			<!-- Modal -->
	        <div class="modal fade" id="dodoModal" tabindex="-1" role="dialog"
				data-backdrop="static" aria-labelledby="dodoModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="dodoModalLabel">알림</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="prevFocusId" name="prevFocusId" />
							<span id="modalContent" name="modalContent"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>

      	<!-- Libs JS -->
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/libs/simplebar/dist/simplebar.min.js"></script>

		<!-- Theme JS -->
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/js/theme.min.js"></script>
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/js/vendors/jquery.min.js"></script>
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/js/vendors/chart.js"></script>
		
		<!-- MJ JS -->
		<script src="/xdm/assets/js/common.js"></script>
	
	</th:block>
</html>