<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="footer"> <!-- 중복되는 head 부분 블록 처리 -->
	
		</div>

      	<!-- Libs JS -->
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/libs/simplebar/dist/simplebar.min.js"></script>

		<!-- Theme JS -->
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/js/theme.min.js"></script>
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/js/vendors/jquery.min.js"></script>
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
		<script src="/xdm/template/FreshCart-1.4.0/dashboard/assets/js/vendors/chart.js"></script>
	
	</th:block>
</html>