<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<div class="main-wrapper">
	<nav class="navbar-vertical-nav d-none d-xl-block">
		<div class="navbar-vertical">
			<div class="px-4 py-5">
				<a href="/xdm/index" class="navbar-brand">
					<img src="/assets/xdm/template/FreshCart-1.4.0/images/logo/logo.png" alt="" width="180px" />
				</a>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column" id="sideNavbar">
					<li class="nav-item">
						<a class="nav-link" href="/xdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">Home</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesService"
							aria-expanded="false"
							aria-controls="navCategoriesService"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-box"></i></span>
								<span class="nav-link-text">서비스관리</span>
							</div>
						</a>
						<div id="navCategoriesService" class="collapse show" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/xdm/game/GameXdmList">게임관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/xdm/game/GameReviewXdmList">게임리뷰관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="/xdm/sales/SalesXdmList">중고거래관리</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/xdm/member/MemberXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-people"></i></span>
								<span class="nav-link-text">회원관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesOrders"
							aria-expanded="false"
							aria-controls="navCategoriesOrders"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navCategoriesOrders" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/xdm/code/CodeXdmList">코드관리</a>
								</li>
								<!-- Nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/xdm/codegroup/CodeGroupXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
		<div class="navbar-vertical">
			<div class="px-4 py-5 d-flex justify-content-between align-items-center">
				<a href="/xdm/index" class="navbar-brand">
					<img src="/assets/usr/template/FreshCart-1.4.0/images/logo/logo.png" alt="" width="180px" />
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="/xdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">홈</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/xdm/member/MemberXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-people"></i></span>
								<span class="nav-link-text">회원관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesService"
							aria-expanded="false"
							aria-controls="navCategoriesService"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-box"></i></span>
								<span class="nav-link-text">서비스관리</span>
							</div>
						</a>
						<div id="navCategoriesService" class="collapse show" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/xdm/game/GameXdmList">게임관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/xdm/game/GameReviewXdmList">게임리뷰관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="/xdm/sales/SalesXdmList">중고거래관리</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesOrders"
							aria-expanded="false"
							aria-controls="navCategoriesOrders"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navCategoriesOrders" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/xdm/code/CodeXdmList">코드관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/xdm/codegroup/CodeGroupXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- main wrapper -->
	<main class="main-content-wrapper">
		<div class="container">
			<div class="row mb-8">
				<div class="col-md-12">
					<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
						<h2>Uesd Game Sales</h2>
					</div>
				</div>
			</div>
			<div class="row mb-8 g-5">
				<div class="col-lg-12 col-12">
					<div class="card card-lg border-0">
						<div class="card-body d-flex flex-column gap-8 p-7">
							<div class="d-flex flex-column gap-4">
								<form class="row g-5 needs-validation" novalidate method="post" id="form" name="form">
									
									<input type="hidden" name="msSeq" th:value="${salesItem?.msSeq}">
									<input type="hidden" name="msoSeq" th:value="${salesItem?.msoSeq}">
									
									<div class="col-lg-3 col-12">
										<label for="msSeq" class="form-label">등록번호</label>
										<input type="text" class="form-control" name="msSeq" id="msSeq" 
											th:value="${salesItem?.msSeq}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msStateCd" class="form-label">판매상태</label>
										<select class="form-select" id="msStateCd" name="msStateCd" disabled>
											<option value="" th:selected="${salesItem?.msStateCd == null}"></option>
											<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.SALES_CODE_GROUP_SEQ_STATE)}"
												th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
												th:selected="${#strings.equals(codeList.cSeq, salesItem?.msStateCd)}"></option>         
										</select>
									</div>
									<div class="col-lg-6 col-12"></div>
									<div class="col-lg-3 col-12">
										<label for="member_mSeq" class="form-label">판매자 고유번호</label>
										<input type="text" class="form-control" name="member_mSeq" id="member_mSeq" 
											th:value="${salesItem?.member_mSeq}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="mName" class="form-label">판매자</label>
										<input type="text" class="form-control" name="mName" id="mName"
											th:value="${salesItem?.mName}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="game_gSeq" class="form-label">게임 고유번호</label>
										<input type="text" class="form-control" name="game_gSeq" id="game_gSeq" 
											th:value="${salesItem?.game_gSeq}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="gName" class="form-label">게임명</label>
										<input type="text" class="form-control" name="gName" id="gName"
											th:value="${salesItem?.gName}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msPrice" class="form-label">판매가</label>
										<input type="text" class="form-control" name="msPrice" id="msPrice" 
											th:value="${salesItem?.msPrice}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msFee" class="form-label">수수료</label>
										<input type="text" class="form-control" name="msFee" id="msFee" 
											th:value="${salesItem?.msFee}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msRegiDate" class="form-label">등록일</label>
										<input type="text" class="form-control" name="msRegiDate" id="msRegiDate"
											th:value="${salesItem?.msRegiDate}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msUpdtDate" class="form-label">수정일</label>
										<input type="text" class="form-control" name="msUpdtDate" id="msUpdtDate"
											th:value="${salesItem?.msUpdtDate}" disabled />
									</div>
									<div class="col-lg-6 col-12">
										<label for="msTitle" class="form-label">제목</label>
										<input type="text" class="form-control" name="msTitle" id="msTitle"
											th:value="${salesItem?.msTitle}" disabled />
									</div>
									<div class="col-lg-6 col-12"></div>
									<div class="col-lg-6 col-12">
										<label for="msDesc" class="form-label">내용</label>
										<textarea class="form-control" id="msDesc" name="msDesc" rows="3" style="resize: none;"
											autocomplete="off" th:text="${salesItem?.msDesc}" disabled></textarea>
									</div>
									<div class="col-lg-6 col-12"></div>
									<div class="col-lg-3 col-12">
										<label for="msoSeq" class="form-label">구매번호</label>
										<input type="text" class="form-control" name="msoSeq" id="msoSeq"
											th:value="${salesItem?.msoSeq}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msStateCd" class="form-label">배송상태</label>
										<select class="form-select" id="msoDeliStateCd" name="msoDeliStateCd" disabled>
											<option value="" th:selected="${salesItem?.msoDeliStateCd == null}"></option>
											<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.SALES_ORDER_CODE_GROUP_SEQ_DELI_STATE)}"
												th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
												th:selected="${#strings.equals(codeList.cSeq, salesItem?.msoDeliStateCd)}"></option>         
										</select>
									</div>
									<div class="col-lg-3 col-12">
										<label for="msStateCd" class="form-label">택배사</label>
										<select class="form-select" id="msoDeliCompCd" name="msoDeliCompCd" disabled>
											<option value="" th:selected="${salesItem?.msoDeliCompCd == null}"></option>
											<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.SALES_ORDER_CODE_GROUP_SEQ_DELI_COMP)}"
												th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
												th:selected="${#strings.equals(codeList.cSeq, salesItem?.msoDeliCompCd)}"></option>         
										</select>
									</div>
									<div class="col-lg-3 col-12">
										<label for="msoDeliNo" class="form-label">송장번호</label>
										<input type="text" class="form-control" name="msoDeliNo" id="msoDeliNo"
											th:value="${salesItem?.msoDeliNo}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="oMember_mSeq" class="form-label">구매자 고유번호</label>
										<input type="text" class="form-control" name="oMember_mSeq" id="oMember_mSeq"
											th:value="${salesItem?.oMember_mSeq}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="omName" class="form-label">구매자</label>
										<input type="text" class="form-control" name="omName" id="omName"
											th:value="${salesItem?.omName}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="createRowDate" class="form-label">주문 생성일</label>
										<input type="text" class="form-control" name="createRowDate" id="createRowDate"
											th:value="${salesItem?.createRowDate}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msoRegiDate" class="form-label">구매일</label>
										<input type="text" class="form-control" name="msoRegiDate" id="msoRegiDate"
											th:value="${salesItem?.msoRegiDate}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msoDeliName" class="form-label">받는이</label>
										<input type="text" class="form-control" name="msoDeliName" id="msoDeliName"
											th:value="${salesItem?.msoDeliName}" disabled />
									</div>
									<div class="col-lg-3 col-12">
										<label for="msoDeliTel" class="form-label">연락처</label>
										<input type="text" class="form-control" name="msoDeliTel" id="msoDeliTel"
											th:value="${salesItem?.msoDeliTel}" disabled />
									</div>
									<div class="col-lg-6 col-12"></div>
									<div class="col-lg-12 col-12">
										<label class="form-label">주소</label>
										<div class="d-flex gap-2">
											<div class="col-lg-2">
	                                 			<input type="text" class="form-control" id="msoDeliPostcode" name="msoDeliPostcode" 
													th:value="${salesItem?.msoDeliPostcode}" disabled />
											</div>
										</div>
										<div class="d-flex gap-2 mt-2">
											<div class="col-lg-4">
												<input type="text" class="form-control" id="msoDeliRoadAddr" name="msoDeliRoadAddr" 
													th:value="${salesItem?.msoDeliRoadAddr}" disabled />
											</div>
											<div class="col-lg-4">
												<input type="text" class="form-control" id="msoDeliDetailAddr" name="msoDeliDetailAddr" 
													th:value="${salesItem?.msoDeliDetailAddr}" disabled />
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<label for="msoDeliMemo" class="form-label">배송메모</label>
										<input type="text" class="form-control" name="msoDeliMemo" id="msoDeliMemo"
											th:value="${salesItem?.msoDeliMemo}" disabled />
									</div>
									<div class="col-lg-6 col-12"></div>
									<div class="col-lg-6 col-12">
										<div class="d-flex flex-column flex-md-row gap-2">
											<a href="/xdm/sales/SalesXdmList" class="btn btn-outline-secondary"><i class="bi bi-list-ul"></i></a>
										</div>
									</div>
									<div class="col-lg-6 col-12" style="text-align: right;">
										<button class="btn btn-danger" type="button" id="btnUelete">
											<i class="bi bi-trash3"></i>
										</button>
										<button class="btn btn-danger" type="button" id="btnDelete">
											<i class="bi bi-x-lg"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
    	
<div th:replace="~{xdm/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
	// Seq
	let msSeq = document.querySelector("input[name=msSeq]");
	let msoSeq = document.querySelector("input[name=msoSeq]");
	
	// URL
	let fom = document.querySelector("form[name=form]");
	let goUrlXdmUele = "/xdm/sales/SalesXdmUele";
	let goUrlXdmDele = "/xdm/sales/SalesXdmDele";
	
	function submit(goUrl) {
		alert(msSeq.value);
		fom.action = goUrl;
		fom.submit();
	}
</script>

<!-- 삭제/삭제(업데이트) 모달 -->
<script type="text/javascript">
	if(document.getElementById("btnUelete")){
		document.getElementById("btnUelete").onclick = function () {
			showModalDeleteConfirm("확인", "해당 데이터를 삭제(업데이트)하시겠습니까?", '', 'none');      	
		}
	}

	document.getElementById("btnModalUelete").onclick = function () {
		submit(goUrlXdmUele);
	}
	
	if(document.getElementById("btnDelete")){
		document.getElementById("btnDelete").onclick = function () {
			showModalDeleteConfirm("확인", "해당 데이터를 삭제하시겠습니까?", 'none', '');   	
		}
	}

	document.getElementById("btnModalDelete").onclick = function () {
		submit(goUrlXdmDele);
	}
</script>
    	
</body>
</html>
