<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	
	<div th:replace="~{/xdm/include/headForm :: headForm}"></div> <!-- 중복되는 head 처리 -->
	
	<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar"
		data-simplebar>
		<a href="#" 
			class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" 
			data-toggle="toggle">
			<i class="fe fe-x"><span class="sr-only"></span></i>
		</a>
		<nav class="vertnav navbar navbar-light">
			<!-- nav bar -->
			<div class="w-100 mb-4 d-flex">
				<a class="navbar-brand mx-auto mt-2 flex-fill text-center"
					href="./index.html">
					<svg version="1.1" id="logo" class="navbar-brand-img brand-sm" 
						xmlns="http://www.w3.org/2000/svg" 
						xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
						viewBox="0 0 120 120" xml:space="preserve">
						<g>
							<polygon class="st0" points="78,105 15,105 24,87 87,87" />
							<polygon class="st0" points="96,69 33,69 42,51 105,51" />
							<polygon class="st0" points="78,33 15,33 24,15 87,15" />
						</g>
					</svg>
				</a>
			</div>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="./index.html">
						<i class="fe fe-home fe-16"></i>
						<span class="ml-3 item-text">Home</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="#">
						<i class="fe fe-file fe-16"></i>
						<span class="ml-3 item-text">공지사항</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="#">
						<i class="fe fe-shield fe-16"></i>
						<span class="ml-3 item-text">회원관리</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
						<a class="nav-link" href="./form_default.html">
						<i class="fe fe-box fe-16"></i>
						<span class="ml-3 item-text">서비스관리</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="#">
						<i class="fe fe-grid fe-16"></i>
						<span class="ml-3 item-text">커뮤니케이션</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item dropdown">
					<a href="#systemsetting" data-toggle="collapse" aria-expanded="true"
						class="dropdown-toggle nav-link">
						<i class="fe fe-credit-card fe-16"></i>
						<span class="ml-3 item-text">시스템관리</span>
					</a>
					<ul class="collapse list-unstyled pl-4 w-100" id="systemsetting">
						<li class="nav-item">
							<a class="nav-link pl-3"
								href="/xdm/code/CodeXdmList">
								<span class="ml-1 item-text">코드관리</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-3" data-toggle="collapse"
								href="/xdm/codegroup/CodeGroupXdmList">
								<span class="ml-1 item-text">코드그룹관리</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="#">
						<i class="fe fe-user fe-16"></i>
						<span class="ml-3 item-text">개인정보관리</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="./login.html">
						<i class="fe fe-layers fe-16"></i>
						<span class="ml-3 item-text">테스트</span>
					</a>
				</li>
			</ul>
		</nav>
	</aside>
	
	<main role="main" class="main-content">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12">
					<h2 class="page-title">Code Group</h2>
					<div class="row col-md-12 card shadow mb-4">
						<div class="card-header">
							<h5 class="card-title" style="padding-top: 20px;">
								기본 정보
							</h5>
						</div>
						<div class="card-body">
							<form class="needs-validation" novalidate
								action="/xdm/codegroup/CodeGroupXdmUpdt" method="post" id="form">
								
								<input type="hidden" name="seq" th:value="${codeGroupItem?.seq}" />
								
								<div class="form-row">
									<div class="col-md-3 mb-3">
										<label>
											코드그룹 코드 <span style="color: red; font-weight: 500;">*</span>
										</label>
										<input type="text" class="form-control" name="seq" id="seq" 
											 th:value="${codeGroupItem?.seq}" disabled>
									</div>
									<div class="col-md-3 mb-3">
										<label for="name">
											코드그룹 이름 <span style="color: red; font-weight: 500;">*</span>
										</label>
										<input type="text" class="form-control" 
											name="cgName" id="cgName"
											th:value="${codeGroupItem?.cgName}" placeholder="한글, 영대소문자, 숫자" required>
										<div class="valid-feedback"> Looks good! </div>
									</div>
									<div class="col-md-3 mb-3">
										<label>코드그룹 이름 (영문)</label>
										<input type="text" class="form-control" 
											name="cgNameEng" id="cgNameEng"
											th:value="${codeGroupItem?.cgNameEng}" placeholder="영대소문자, 숫자">
									</div>
								</div> <!-- /.form-row -->
								<div class="form-row">
									<div class="col-md-3 mb-3">
										<label>
											사용여부 <span style="color: red; font-weight: 500;">*</span>
										</label>
										<select class="form-control" id="cgUseNy" name="cgUseNy" 
											th:value="${codeGroupItem?.cgUseNy}">
											<option value="1" th:selected="${codeGroupItem?.cgUseNy} == 1">Y</option>
											<option value="0" th:selected="${codeGroupItem?.cgUseNy} == 0">N</option>
										</select>
									</div>
									<div class="col-md-3 mb-3">
										<label for="sequence">
											순서 <span style="color: red; font-weight: 500;">*</span>
										</label>
										<input type="text" class="form-control" id="cgSequence" name="cgSequence" 
											th:value="${codeGroupItem?.cgSequence}" required>
										<div class="valid-feedback"> Looks good! </div>
									</div>
									<div class="col-md-3 mb-3">
										<label for="count">
											갯수 <span style="color: red; font-weight: 500;">*</span>
										</label>
										<input type="text" class="form-control" id="cgCount" name="cgCount"
											th:value="${codeGroupItem?.cgCount}" required>
										<div class="valid-feedback"> Looks good! </div>
									</div>
								</div> <!-- /.form-row -->
								<div class="form-row">
									<div class="col-md-6 mb-3">
										<label>설명</label>
										<textarea class="form-control" rows="5" id="cgDescription" name="cgDescription"
											th:text="${codeGroupItem?.cgDescription}" style="resize: none;"></textarea>
									</div>
								</div> <!-- /.form-row -->
								<div class="row">
									<div class="col-md-6 mb-3">
										<a href="/xdm/codegroup/CodeGroupXdmList"><img src="/xdm/template/tinydash-master/assets/images/icon_list.png"></a>
									</div>
									<div class="col-md-6 mb-3" style="text-align: right;">
										<button class="btn" type="button" id="btnSave">
											<img src="/xdm/template/tinydash-master/assets/images/icon_submit.png">
										</button>
									</div>
								</div>
							</form>
						</div> <!-- /.col -->
					</div> <!-- end section -->
				</div> <!-- /.col-12 col-lg-10 col-xl-10 -->
			</div> <!-- .row -->
		</div> <!-- .container-fluid -->
		<!-- 코드 수정 - MJ End -->
	</main> <!-- main -->
	
	<div th:replace="~{/xdm/include/footerForm :: footerForm}"></div> <!-- 중복되는 footer 처리 -->
	
	<script type="text/javascript">
		document.getElementById("btnSave").onclick = function() {
			document.getElementById("form").submit();
		}
	</script>
	
</body>
</html>