<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<div th:replace="~{/xdm/include/headList :: headList}"></div> <!-- 중복되는 head 처리 -->
	
	<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar"
		data-simplebar>
		<a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3"
			data-toggle="toggle">
			<i class="fe fe-x"><span class="sr-only"></span></i>
		</a>
		<nav class="vertnav navbar navbar-light">
			<!-- nav bar -->
			<div class="w-100 mb-4 d-flex">
				<a class="navbar-brand mx-auto mt-2 flex-fill text-center"
					href="./index.html">
					<svg version="1.1" id="logo" class="navbar-brand-img brand-sm"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 120 120" xml:space="preserve">
						<g>
							<polygon class="st0" points="78,105 15,105 24,87 87,87" />
							<polygon class="st0" points="96,69 33,69 42,51 105,51" />
							<polygon class="st0" points="78,33 15,33 24,15 87,15" />
						</g>
					</svg>
				</a>
			</div>
			<!-- 코드 추가 - MJ -->
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="./index.html">
						<i class="fe fe-home fe-16"></i>
						<span class="ml-3 item-text">Home</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="#">
						<i class="fe fe-file fe-16"></i>
						<span class="ml-3 item-text">공지사항</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="#">
						<i class="fe fe-shield fe-16"></i>
						<span class="ml-3 item-text">회원관리</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="./form_default.html">
						<i class="fe fe-box fe-16"></i>
						<span class="ml-3 item-text">서비스관리</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="#">
						<i class="fe fe-grid fe-16"></i>
						<span class="ml-3 item-text">커뮤니케이션</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item dropdown">
					<a href="#systemsetting" data-toggle="collapse" aria-expanded="true"
						class="dropdown-toggle nav-link">
						<i class="fe fe-credit-card fe-16"></i>
						<span class="ml-3 item-text">시스템관리</span>
					</a>
					<ul class="collapse list-unstyled pl-4 w-100" id="systemsetting">
						<li class="nav-item">
							<a class="nav-link pl-3" href="/xdm/code/CodeXdmList">
								<span class="ml-1 item-text">코드관리</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-3" data-toggle="collapse"
								href="/xdm/codegroup/CodeGroupXdmList">
								<span class="ml-1 item-text">코드그룹관리</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="#">
						<i class="fe fe-user fe-16"></i>
						<span class="ml-3 item-text">개인정보관리</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav flex-fill w-100 mb-2">
				<li class="nav-item w-100">
					<a class="nav-link" href="./login.html">
						<i class="fe fe-layers fe-16"></i>
						<span class="ml-3 item-text">테스트</span>
					</a>
				</li>
			</ul>
			<!-- 코드 추가 - MJ End -->
		</nav>
	</aside>
							
	<main role="main" class="main-content">
		<form name="formList" id="formList" method="post" autocomplete="off">
			<input type="hidden" name="currPage" th:value="${vo.currPage}" default="1"/>
			<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
			
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-12">
						<h2 class="mb-2 page-title">Code Group</h2>
						<div class="row my-4">
							<div class="col-md-2">
								<select class="form-control" id="yeargroup" required>
									<option selected disabled value="">N</option>
									<option>...</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" id="monthgroup" required>
									<option selected disabled value="">Y</option>
									<option>...</option>
								</select>
							</div>    
							<div class="col-md-2">
								<select class="form-control" id="daygroup" required>
									<option selected disabled value="">날짜</option>
									<option>등록일</option>
									<option>수정일</option>
								</select>
							</div>   
							<div class="col-md-2">
								<input class="form-control" placeholder="2024-12-25">
							</div>
							<div class="col-md-2">
								<input class="form-control" placeholder="2024-1-24">
							</div>
						</div>
						<div class="row my-4">
							<div class="col-md-2">
								<select class="form-control" id="searchgroup" required>
									<option selected disabled value="">검색구분</option>
									<option>코드그룹 코드</option>
									<option>코드그룹 이름</option>
									<option>코드 이름 (영문)</option>
								</select>
							</div>
							<div class="col-md-2">
								<input class="form-control" placeholder="검색어">
							</div>   
							<div class="col-md-2">
								<a href="#"><img src="/xdm/template/tinydash-master/assets/images/icon_search.png"></a>
								<a href="#"><img src="/xdm/template/tinydash-master/assets/images/icon_refresh.png"></a>
							</div>
						</div>
						<div class="row my-4 col-md-12 card shadow card-body">
							<!-- table -->
							<!-- 
								Paging 개발을 위한 주석처리 - 원래 템플릿에 기능 있었음(id="dataTable-1" 이부분만 넣어주면 됨)
								<table class="table datatables" id="dataTable-1">
							-->
							<table class="table datatables" id="">
								<thead>
									<!-- Paging 개발을 위한 코드 삽입 -->
									<tr>
										<td colspan="9" style="border-top: none;">
											Total: 18
										</td>
										<td colspan="1" style="border-top: none;">
											<select class="form-control" id="daygroup" required>
												<option selected value="">5</option>
												<option>10</option>
												<option>15</option>
											</select>
										</td>
									</tr>
									<!-- End Paging 개발을 위한 코드 삽입 -->
									<tr>
										<th>
											<div class="custom-checkbox">
												<input type="checkbox" id="checkAll" name="checkAll">
											</div>
										</th>
										<th>#</th>
										<th>사용</th>
										<th>코드그룹 코드</th>
										<th>코드그룹 이름</th>
										<th>코드 이름 (영문)</th>
										<th>갯수</th>
										<th>순서</th>
										<th>등록일</th>
										<th>수정일</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${#lists.isEmpty(codeGroupList)}">
										<td class="text-center" colspan="10">
											데이터가 없습니다.
										</td>
									</tr> 
									<tr th:if="${!#lists.isEmpty(codeGroupList)}" th:each="list : ${codeGroupList}">
										<td>
											<div class="custom-checkbox">
												<input type="checkbox" class="" name="check" id="${list?.seq}">
											</div>
	    								</td>
										<td th:text="${vo.totalRows - ((vo.currPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
										<td th:text="${list?.cgUseNyStr}"></td>
										<td th:text="${list?.seq}"></td>
										<td>			
											<a th:href="@{/xdm/codegroup/CodeGroupXdmItem(seq=${list.seq})}"
												th:text="${list?.cgName}"></a>
										</td>
										<td th:text="${list?.cgNameEng}"></td>
										<td th:text="${list?.cgCount}"></td>
										<td th:text="${list?.cgSequence}"></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
								<!-- Paging 개발을 위한 코드 삽입 -->
								<tfoot>
									<tr>
										<td colspan="10" style="border-top: none;">
											<nav aria-label="Page navigation">
												<ul class="pagination justify-content-center">
													<!-- 타임리프 
														gt 뜻: >
														ne 뜻: !=
														eq 뜻: ==
													-->
													<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
														<a class="page-link" href="javascript:goList(${vo.startPage - 1})"
															th:attr="onclick=|goList('${vo.startPage - 1}')|">
															<span aria-hidden="true">&laquo;</span>
														</a>
													</li>
													<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" 
														th:classappend="${num eq vo.currPage} ? active : ''" 
														class="page-item" style="cursor: pointer;">
														<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
													</li>
													<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
														<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
															<span aria-hidden="true">&raquo;</span>
														</a>
													</li>
												</ul>
											</nav>
										</td>
									</tr>
								</tfoot>
								<!-- Paging 개발을 위한 코드 삽입 End -->
							</table>
							<!-- MJ 코드 추가 -->
							<div class="row">
								<div class="col">
									<a href="#" id="uelete"><img src="/xdm/template/tinydash-master/assets/images/icon_uelete.png"></a>
									<a href="#" id="delete"><img src="/xdm/template/tinydash-master/assets/images/icon_delete.png"></a>
								</div>
								<div class="col" style="text-align: right;">
									<a href="#" id="excel"><img src="/xdm/template/tinydash-master/assets/images/icon_excel.png"></a>
									<a href="#" id="modify"><img src="/xdm/template/tinydash-master/assets/images/icon_modify.png"></a>
									<a href="/xdm/codegroup/CodeGroupXdmForm"><img src="/xdm/template/tinydash-master/assets/images/icon_insert.png"></a>   
								</div>
							</div>
							<!-- End MJ 코드 추가 -->
						</div> <!-- table section -->
					</div> <!-- .col-12 -->
				</div> <!-- .row -->
			</div> <!-- .container-fluid -->
		</form>
	</main> <!-- main -->
	
	<div th:replace="~{/xdm/include/footerList :: footerList}"></div> <!-- 중복되는 footer 처리 -->
	
	<script type="text/javascript">
		document.getElementById("checkAll").onclick = function() {
			allCheck("check", this.checked);
		}
		
		function allCheck(name, isChecked) {
			const element = document.getElementsByName(name);
			
			for(let i = 0; i < element.length; i++) {          
				if(!element[i].disabled) {
					element[i].checked = isChecked;	
				}
			}
		}
		
		function getSelectedElementsCnt(name) {
			// 선택된 목록의 갯수 세기
			return document.querySelectorAll('input[name="' + name + '"]:checked').length;
		}
		
		document.getElementById("modify").onclick = function() {
			const selectedElementsCnt = getSelectedElementsCnt("check");
			
			if (selectedElementsCnt == 0) {
				return;
			}
			
			if (selectedElementsCnt > 1) {
				alert("1개의 코드 그룹만 선택해 주세요.");
				return;
			}
			
			// TODO: id seq로 해당 데이터 수정 폼 열기
		}
		
		document.getElementById("delete").onclick = function() {
			const selectedElementsCnt = getSelectedElementsCnt("check");
			
			if (selectedElementsCnt == 0) {
				return;
			}
			
			if (!confirm("선택한 " + selectedElementsCnt + "개의 코드 그룹을 전부 삭제하시겠습니까?")) {
				return false;
			}
		}
		
		document.getElementById("uelete").onclick = function() {
			const selectedElementsCnt = getSelectedElementsCnt("check");
			
			if (selectedElementsCnt == 0) {
				return;
			}
			
			if (!confirm("선택한 " + selectedElementsCnt + "개의 코드 그룹을 전부 삭제하시겠습니까?(업데이트)")) {
				return false;
			}
		}
	</script>
	
	<script type="text/javascript">
		let fom = document.querySelector("form[name=formList]");
		
		function goList(currPage) {
 			document.querySelector("input[name=currPage]").value = currPage;
 			fom.action = "/xdm/codegroup/CodeGroupXdmList";
 			fom.submit();
		}
	</script>
	
</body>
</html>