<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<section class="mt-8 mb-14">
		<div class="container">
			<div class="row">
 				<div class="col-lg-12">
    				<div class="mb-8">
						<h3 class="mb-1">Top 10</h3>
					</div>
					<form name="formList" id="formList" method="post" autocomplete="off">
			
						<input type="hidden" name="currPage" th:value="${vo.currPage}" default="1"/>
						<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
						<input type="hidden" name="gSeq">
						<input type="hidden" id="mSeq" name="mSeq" th:value="${session.sessSeqUsr}">
						<input type="hidden" name="gCategoryCd">
						<input type="hidden" name="redirectUrl" value="/usr/game/GameTop10UsrList">
			
						<div class="col-md-12 text-center">
							<div class="card h-100 card-lg">
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
											<thead class="bg-light">
												<tr>
													<th>순위</th>
													<th></th>
													<th>게임명</th>
													<th>카테고리</th>
													<th>평점</th>
													<th>난이도</th>
													<th>인원</th>
													<th>소요시간(분)</th>
													<th>공식판매처</th>
													<th>중고거래</th>
													<th>내게임</th>
													<th>위시</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${#lists.isEmpty(gameList)}">
													<td class="text-center" colspan="10">
														데이터가 없습니다.
													</td>
												</tr> 
												<tr th:if="${!#lists.isEmpty(gameList)}" th:each="list : ${gameList}">
													<td>
														<h5 class="fs-6 mb-0">
															<span th:text="${list.grOrder + '위'}" class="text-inherit"></span>
														</h5>
													</td>
													<td>
														<a href="javascript:void(0);"
															th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|">
															<img th:if="${list?.fPath eq null or #strings.trim(list?.fPath) eq ''}" 
																class="icon-shape icon-xxl" 
																src="/assets/usr/template/FreshCart-1.4.0/images/products/placeholder-img.jpg" />
															<img th:if="${list?.fPath ne null and #strings.trim(list?.fPath) ne ''}" 
																class="icon-shape icon-xxl" th:src="${list?.fPath}" />
														</a>
													</td>
													<td>
														<a class="fw-bold text-inherit" href="javascript:void(0);" th:text="${list?.gName}"
															th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|"></a>
													</td>
													<td th:text="${@codeService.selectOneCachedCode(list?.gCategoryCd)}"></td>
													<td th:text="${list?.grScoreAvg}"></td>	
													<td th:text="${list?.gLevel}"></td>
													<td th:if="${list?.gMinPeople eq list?.gMaxPeople}"
														th:text="${list?.gMinPeople}"></td>
													<td th:unless="${list?.gMinPeople eq list?.gMaxPeople}"
														th:text="${list?.gMinPeople + '-' + list?.gMaxPeople}"></td>		
													<td th:if="${list?.gMinTime eq list?.gMaxTime}"
														th:text="${list?.gMinTime}"></td>
													<td th:unless="${list?.gMinTime eq list?.gMaxTime}"
														th:text="${list?.gMinTime + '-' + list?.gMaxTime}"></td>	
													<td>
														<a th:href="${list?.gOfficialUrl}" class= "d-block" target="_blank"
															th:text="${@codeService.selectOneCachedCode(list?.gOfficialCd)}"></a>
													</td>
													<td><a href="#"><div class="btn btn-primary btn-sm">바로가기</div></a></td>
													<td>
														<a href="#" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="내 게임 등록">
															<i class="bi bi-emoji-smile"></i>
														</a>
													</td>
													<td th:if="${list?.mwCount == 0}">
														<a href="javascript:void(0);" th:attr="onclick=|goWish(true, '${list.gSeq}')|"
															class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="위시리스트 등록">
															<i class="bi bi-heart"></i>
														</a>
													</td>
													<td th:unless="${list?.mwCount == 0}">
														<a href="javascript:void(0);" th:attr="onclick=|goWish(false, '${list.gSeq}')|"
															class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="위시리스트 삭제">
															<i class="bi bi-heart-fill"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
								   	</div>
								</div>
							 </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
  	let gSeq = document.querySelector("input[name=gSeq]");
  	let mSeq = document.querySelector("input[name=mSeq]");
  	let cate = document.querySelector("input[name=gCategoryCd]");
  	let redirectUrl = document.querySelector("input[name=redirectUrl]");
    	
	let fom = document.querySelector("form[name=formList]");

	function submit(url) {
		fom.action = url;
		fom.submit();
	}
</script>

<script type="text/javascript">
	function goDetail(gameSeq, gameCate) {
		gSeq.value = gameSeq;
		cate.value = gameCate;
		submit("/usr/game/GameUsrDetail");
	}
	
	function goWish(bWish, gameSeq) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		gSeq.value = gameSeq;
		
		if (bWish) {
			submit("/usr/member/MemberWishUsrInst");
		} else {
			submit("/usr/member/MemberWishUsrDele");
		}
	}
	
	document.getElementById("btnModalLogin").onclick = function() {
		location.href = "/usr/member/MemberXdmSignIn";
	}
</script>

</body>
</html>