<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<form class="row g-6 needs-validation" novalidate method="post" id="form" name="form">
	
		<input type="hidden" id="member_mSeq" name="member_mSeq" th:value="${session.sessSeqUsr}">
		<input type="hidden" id="mSeq" name="mSeq" th:value="${session.sessSeqUsr}">
		<input type="hidden" id="game_gSeq" name="game_gSeq" th:value="${gameItem?.gSeq}">
		<input type="hidden" id="gSeq" name="gSeq" th:value="${gameItem?.gSeq}">
		<input type="hidden" id="grDtosSize" name="grDtosSize" th:value="${gameItem?.grDtosSize}">
		<input type="hidden" id="grCount" name="grCount" th:value="${gameItem?.grCount}">
		<input type="hidden" id="gCategoryCd" name="gCategoryCd" th:value="${gameItem?.gCategoryCd}">
		<input type="hidden" name="salesShValue">
											
		<section class="mt-8">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-xl-5">
						<div class="product" id="product">																
							<div th:unless="${gameLargeTnFile?.fPath eq null or #strings.trim(ameLargeTnFile?.fPath) eq ''}" 
								class="zoom" onmousemove="zoom(event)"
								th:style="@{'background-image: url(' + ${gameLargeTnFile?.fPath} + ')'}">
								<img th:src="${gameLargeTnFile?.fPath}" />
							</div>
						</div>
					</div>
					<div class="col-md-7 col-xl-6">
						<div class="ps-lg-10 mt-6 mt-md-0">
							<div id="gameInfoRefresh" th:fragment="gameInfoRefresh">
								<div class="d-flex mb-2 gap-3">
									<div>
										<i class="bi bi-trophy" data-bs-toggle="tooltip" title="순위"></i> 
										<span th:text="${gameItem?.grOrder}"></span>
									</div>
									<div>
										<i class="bi bi-star" data-bs-toggle="tooltip" title="평점"></i>
										<span th:text="${gameItem?.grScoreAvg}"></span>
									</div>
									<div>
										<i class="bi bi-reception-4" data-bs-toggle="tooltip" title="난이도"></i>
										<span th:text="${gameItem?.gLevel}"></span>
									</div>
								</div>
								<h2 class="mb-1" th:text="${gameItem?.gName}"></h2>
								<div class="mb-4">
									<small class="text-warning">
										<i th:unless="${gameItem?.fillStarCount eq 0}" 
											th:each="i : ${#numbers.sequence(0, gameItem?.fillStarCount - 1)}"
											class="bi bi-star-fill"></i><i th:unless="${gameItem?.harfStarCount eq 0}"  
											th:each="i : ${#numbers.sequence(0, gameItem?.harfStarCount - 1)}" 
											class="bi bi-star-half"></i><i th:unless="${gameItem?.emptyStarCount eq 0}"   
											th:each="i : ${#numbers.sequence(0, gameItem?.emptyStarCount - 1)}"
											class="bi bi-star"></i><i th:if="${gameItem?.emptyStarCount eq 0 
											and gameItem?.harfStarCount eq 0 
											and gameItem?.fillStarCount eq 0}"   
											th:each="i : ${#numbers.sequence(0, 4)}"
											class="bi bi-star"></i>
									</small>
									<a href="#" class="ms-2" id="linkReviews"
										th:text="${'(' + @doDoUtil.formatNumberComma(gameItem?.grCount) + ' 리뷰 보기)'}"></a>
								</div>  
							</div>
							<hr class="my-6" />
							<div>
								<!-- table -->
								<table class="table table-borderless mb-0">
									<tbody>
										<tr>
											<th>인원</th>
											<td th:if="${gameItem?.gMinPeople eq gameItem?.gMaxPeople}"
												th:text="${gameItem?.gMinPeople + ' (' + gameItem?.gBestPeople + '인 최적, ' 
													+ gameItem?.gRecommendPeople + '인 추천)'}"></td>
											<td th:unless="${gameItem?.gMinPeople eq gameItem?.gMaxPeople}"
												th:text="${gameItem?.gMinPeople + ' ~ ' + gameItem?.gMaxPeople + 
													' (' + gameItem?.gBestPeople + '인 최적, ' + gameItem?.gRecommendPeople + '인 추천)'}"></td>
										</tr>
										<tr>
											<th>사용연령</th>
											<td th:text="${gameItem?.gUseAge + '세 이상'}"></td>
										</tr>
										<tr>
											<th>소요시간</th>
											<td th:if="${gameItem?.gMinTime == gameItem?.gMaxTime}"
												th:text="${gameItem?.gMinTime + '분'}"></td>
											<td th:unless="${gameItem?.gMinTime == gameItem?.gMaxTime}"
												th:text="${gameItem?.gMinTime + ' ~ ' + gameItem?.gMaxTime + '분'}"></td>	
										</tr>
										<tr>
											<th>공식판매처</th>
											<td>
												<a th:href="${gameItem?.gOfficialUrl}" class= "d-block" target="_blank"
													th:text="${@codeService.selectOneCachedCode(gameItem?.gOfficialCd)}"></a>
											</td>
										</tr>
										<tr>
											<th>커뮤니티</th>
											<td>
												<div class="d-flex gap-3">
													<a th:href="${gameItem?.gComuUrl1}" class="text-inherit" target="_blank" 
														style="text-decoration: underline;">BoardLife</a>
													<a th:href="${gameItem?.gComuUrl2}" class="text-inherit" target="_blank"
														style="text-decoration: underline;">BoardgameGeek</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<hr class="my-6" />
							<div id="wishholdRefresh" th:fragment="wishholdRefresh">
								<div class="mt-3 row justify-content-start g-2 align-items-center">
									<div class="col-xxl-3 col-lg-4 col-md-5 col-5 d-grid">
										<a class="btn btn-primary" href="javascript:void(0);" th:attr="onclick=|goSales('${gameItem.gName}')|">
											<i class="feather-icon icon-shopping-bag me-2"></i>중고 구매
										</a>
									</div>
									<div class="col-xxl-2 col-lg-4 col-md-2 col-2 d-grid">
										<a th:if="${gameItem?.mhCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goHold(true)|" class="btn btn-outline-info"
											data-bs-toggle="tooltip" title="보유 게임 등록"><i class="bi bi-emoji-smile"></i></a>
										<a th:unless="${gameItem?.mhCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goHold(false)|" class="btn btn-outline-info"
											data-bs-toggle="tooltip" title="보유 게임 삭제"><i class="bi bi-emoji-smile-fill"></i></a>
									</div>
									<div class="col-xxl-2 col-lg-4 col-md-2 col-2 d-grid">
										<a th:if="${gameItem?.mwCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goWish(true)|" class="btn btn-outline-danger"
											data-bs-toggle="tooltip" title="위시리스트 등록"><i class="bi bi-heart"></i></a>
										<a th:unless="${gameItem?.mwCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goWish(false)|" class="btn btn-outline-danger"
											data-bs-toggle="tooltip" title="위시리스트 삭제"><i class="bi bi-heart-fill"></i></a>
									</div>
									<!-- <div class="col-xxl-3 col-lg-4 col-md-3 col-3 d-grid">
										<div class="dropdown">
											<a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button"
												data-bs-toggle="dropdown" aria-expanded="false">Share</a>
		
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item" href="#">
														<i class="bi bi-facebook me-2"></i>
														Facebook
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#">
														<i class="bi bi-twitter me-2"></i>
														Twitter
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#">
														<i class="bi bi-instagram me-2"></i>
														Instagram
													</a>
												</li>
											</ul>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="mt-lg-14 mt-8">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="nav nav-pills nav-lb-tab" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="details-tab" data-bs-toggle="tab"
									data-bs-target="#details-tab-pane" type="button" role="tab"
									aria-controls="details-tab-pane" aria-selected="false">
									게임 상세 정보
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
									data-bs-target="#reviews-tab-pane" type="button" role="tab"
									aria-controls="reviews-tab-pane" aria-selected="false">
									리뷰
								</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="details-tab-pane" role="tabpanel"
								aria-labelledby="details-tab" tabindex="0">
								<div class="my-8">
									<div class="row">
										<div class="col-12 col-lg-8">
											<table class="table table-striped">
												<tbody>
													<tr>
														<th width="300px">디자이너</th>
														<td th:text="${gameItem?.gGDName}" style="white-space: pre-line"></td>
													</tr>
													<tr>
														<th>아트웍 작가</th>
														<td th:text="${gameItem?.gGAAName}" style="white-space: pre-line"></td>
													</tr>
													<tr>
														<th>출판사</th>
														<td th:text="${gameItem?.gGPName}" style="white-space: pre-line"></td>
													</tr>
													<tr>
														<th>카테고리</th>
														<td class="border-bottom"
															th:text="${@codeService.selectOneCachedCode(gameItem?.gCategoryCd)}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel"
								aria-labelledby="reviews-tab" tabindex="0">
								<div class="my-8">
									<div class="row">
										<div class="col-md-4">
											<div class="me-lg-12 mb-6 mb-md-0">
												<div id="reviewDistributionRefresh" th:fragment="reviewDistributionRefresh">
													<div class="mb-5">
														<h4 class="mb-3">평점</h4>
														<span>
															<small class="text-warning">
																<i th:unless="${gameItem?.fillStarCount eq 0}" 
																	th:each="i : ${#numbers.sequence(0, gameItem?.fillStarCount - 1)}"
																	class="bi bi-star-fill"></i><i th:unless="${gameItem?.harfStarCount eq 0}"  
																	th:each="i : ${#numbers.sequence(0, gameItem?.harfStarCount - 1)}" 
																	class="bi bi-star-half"></i><i th:unless="${gameItem?.emptyStarCount eq 0}"   
																	th:each="i : ${#numbers.sequence(0, gameItem?.emptyStarCount - 1)}"
																	class="bi bi-star"></i><i th:if="${gameItem?.emptyStarCount eq 0 
																	and gameItem?.harfStarCount eq 0 
																	and gameItem?.fillStarCount eq 0}"   
																	th:each="i : ${#numbers.sequence(0, 4)}"
																	class="bi bi-star"></i>
															</small>
															<span class="ms-3" th:text="${gameItem?.grScoreAvg + '/ 10'}"></span>
															<small class="ms-3" th:text="${'리뷰 합계 ' + @doDoUtil.formatNumberComma(gameItem?.grCount)}"></small>
														</span>
													</div>
													<div class="mb-8">
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">10</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score10}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score10}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score10 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;9</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score9}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score9}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score9 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;8</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score8}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score8}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score8 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;7</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score7}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score7}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score7 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;6</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score6}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score6}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score6 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;5</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score5}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score5}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score5 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;4</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score4}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score4}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score4 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;3</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score3}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score3}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score3 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;2</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score2}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score2}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score2 + '%'}"></span>
														</div>
														<div class="d-flex align-items-center mb-2">
															<div class="text-nowrap me-3 text-muted">
																<span class="d-inline-block align-middle text-muted" style="width:13px">&nbsp;1</span>
																<i class="bi bi-star-fill ms-1 small text-warning"></i>
															</div>
															<div class="w-100">
																<div class="progress" style="height: 6px">
																	<div class="progress-bar bg-warning" role="progressbar"
																		th:style="|width: ${gameDetailReviewDistribution?.score1}%|" 
																		th:aria-valuenow="${gameDetailReviewDistribution?.score1}"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															<span class="text-muted ms-3" style="width:13px" 
																th:text="${gameDetailReviewDistribution?.score1 + '%'}"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<div class="mb-10">
												<div class="d-flex justify-content-between align-items-center mb-8">
													<div>
														<h4>리뷰</h4>
													</div>
													<div>
														<select class="form-select" id="grShOption" name="grShOption" onchange="reviewListRefresh()">
															<option value="1" th:selected="${gameItem?.grShOption == 1}">최신순</option>
															<option value="2" th:selected="${gameItem?.grShOption == 2}">평점 높은순</option>            
														</select>
													</div>
												</div>
												<div id="reviewList" th:fragment="reviewList">
													<div th:if="${#lists.isEmpty(gameDetailReviewList)}"
														class="d-flex pb-6 mb-6">리뷰가 없습니다.</div>
													<div th:if="${!#lists.isEmpty(gameDetailReviewList)}" th:each="list : ${gameDetailReviewList}"
														class="d-flex border-bottom pb-6 mb-6">
														<img th:if="${list?.fPath eq null or #strings.trim(list?.fPath) eq ''}" 
															class="rounded-circle avatar-lg"
															src="/assets/usr/template/FreshCart-1.4.0/images/avatar/avatar.jpg" />
														<img th:if="${list?.fPath ne null and #strings.trim(list?.fPath) ne ''}" 
															class="rounded-circle avatar-lg" th:src="${list?.fPath}" />
															
														<div class="ms-5">
															<h6 class="mb-1" th:text="${list?.mName}"></h6>
															<p class="small">
																<span class="text-muted" th:text="${list?.grRegiDate}"></span>
															</p>
															<div class="mb-2">
																<i th:unless="${list?.fillStarCount eq 0}" 
																	th:each="i : ${#numbers.sequence(0, list?.fillStarCount - 1)}"
																	class="bi bi-star-fill text-warning"></i><i th:unless="${list?.harfStarCount eq 0}"  
																	th:each="i : ${#numbers.sequence(0, list?.harfStarCount - 1)}" 
																	class="bi bi-star-half text-warning"></i><i th:unless="${list?.emptyStarCount eq 0}"   
																	th:each="i : ${#numbers.sequence(0, list?.emptyStarCount - 1)}"
																	class="bi bi-star text-warning"></i>
																<span class="ms-3 text-dark fw-bold" th:text="${list?.grScore}"></span>
															</div>
															<div class="col-lg-12">
																<p th:text="${list?.grComment}" style="word-break: break-all;"></p>
															</div>
														</div>
													</div>
												</div>
												<div th:if="${!#lists.isEmpty(gameDetailReviewList)}">
													<button class="btn btn-outline-gray-400 text-muted" type="button" id="btnMoreReview">리뷰 더 보기</button>
												</div>
											</div>
											<div>
												<div class="card card-lg">
													<div class="card-body p-6 d-flex flex-column gap-3">
														<h4 class="mb-1">리뷰 작성</h4>
														<div class="py-2 mb-1">
															<div class="mb-3 col-lg-2">
																<label class="form-label">
																	<h6>평점<span style="color: red;"> *</span></h6>
																</label>
																<select class="form-select" name="grScore" id="grScore" required>
																	<option value="10" selected>10</option>
																	<option value="9">9</option>
																	<option value="8">8</option>
																	<option value="7">7</option>
																	<option value="6">6</option>
																	<option value="5">5</option>
																	<option value="4">4</option>
																	<option value="3">3</option>
																	<option value="2">2</option>
																	<option value="1">1</option>
																</select>
															</div>
														</div>
														<div class="py-2 mb-1">
															<div class="d-flex justify-content-between align-items-center">
																<div>
																	<label class="form-label">
																		<h6>리뷰 작성<span style="color: red;"> *</span></h6>
																	</label>
																</div>
																<div>
																	<span class="length">
																		<span class="comment_length">0</span>
																		/ 200
																	</span>
																</div>
															</div>
															<textarea class="form-control" id="grComment" name="grComment" 
																rows="3" placeholder="200자 내로 입력해주세요." 
																maxlength="200" style="resize: none;" required></textarea>
															<div class="invalid-feedback">리뷰 내용을 입력해 주세요.</div>
														</div>
														<div class="d-flex justify-content-end">
															<button class="btn btn-primary" type="button" id="btnSave">리뷰 등록</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="sellerInfo-tab-pane" role="tabpanel"
								aria-labelledby="sellerInfo-tab" tabindex="0">...</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
	<section class="my-lg-14 my-14">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3>연관 게임</h3>
				</div>
			</div>
			<div id="relationRefresh" th:fragment="relationRefresh">
				<div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-2 mt-2">
					<div th:if="${#lists.isEmpty(gameRelationList)}" class="col">
						데이터가 없습니다.
					</div>
					<div th:if="${!#lists.isEmpty(gameRelationList)}" class="col" th:each="list : ${gameRelationList}">
						<div class="card card-product">
							<div class="card-body">
								<div class="text-center position-relative">
									<a href="javascript:void(0);"
										th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|">
										<img th:if="${list?.fPath eq null or #strings.trim(list?.fPath) eq ''}" 
											class="mb-3 img-fluid" 
											src="/assets/usr/template/FreshCart-1.4.0/images/products/placeholder-img.jpg" />
										<img th:if="${list?.fPath ne null and #strings.trim(list?.fPath) ne ''}" 
											class="mb-3 img-fluid" th:src="${list?.fPath}" />
									</a>
	
									<div class="card-product-action">
										<a th:if="${list?.mhCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goHoldRelation(true, '${list.gSeq}')|" class="btn-action"
											data-bs-toggle="tooltip" title="보유 게임 등록"><i class="bi bi-emoji-smile"></i></a>
										<a th:unless="${list?.mhCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goHoldRelation(false, '${list.gSeq}')|" class="btn-action"
											data-bs-toggle="tooltip" title="보유 게임 삭제"><i class="bi bi-emoji-smile-fill"></i></a>
										<a th:if="${list?.mwCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goWishRelation(true, '${list.gSeq}')|" class="btn-action"
											data-bs-toggle="tooltip" title="위시리스트 등록"><i class="bi bi-heart"></i></a>
										<a th:unless="${list?.mwCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goWishRelation(false, '${list.gSeq}')|" class="btn-action"
											data-bs-toggle="tooltip" title="위시리스트 삭제"><i class="bi bi-heart-fill"></i></a>
										<a href="./usedgame-shopping.html" class="btn-action"><i class="bi bi-cart" 
											data-bs-toggle="tooltip" title="중고 구매"></i></a>
									</div>
								</div>
								<div class="text-small mb-1">
									<small class="text-muted" th:text="${@codeService.selectOneCachedCode(list?.gCategoryCd)}"></small>
								</div>
								<h2 class="fs-6">
									<a class="text-inherit text-decoration-none" href="javascript:void(0);" th:text="${list?.gName}"
										th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|"></a>
								</h2>
								<div>
									<span class="small">
										<i class="bi bi-reception-4" data-bs-toggle="tooltip" title="난이도"></i>
										<span th:text="${list?.gLevel}"></span>&nbsp;&nbsp;
										<i class="bi bi-person" data-bs-toggle="tooltip" title="인원"></i>
										<span th:if="${list?.gMinPeople eq list?.gMaxPeople}"
											th:text="${list?.gMinPeople + '인'}"></span>
										<span th:unless="${list?.gMinPeople eq list?.gMaxPeople}"
											th:text="${list?.gMinPeople + '-' + list?.gMaxPeople + '인'}"></span>&nbsp;&nbsp;
										<i class="bi bi-alarm" data-bs-toggle="tooltip" title="소요시간"></i>
										<span th:if="${list?.gMinTime eq list?.gMaxTime}" 
											th:text="${list?.gMinTime + '분'}"></span>
										<span th:unless="${list?.gMinTime eq list?.gMaxTime}"
											th:text="${list?.gMinTime + '-' + list?.gMaxTime + '분'}"></span>
									</span>
								</div>
								<div>
									<span>
										<small class="text-warning">
											<i th:unless="${list?.fillStarCount eq 0}" 
												th:each="i : ${#numbers.sequence(0, list?.fillStarCount - 1)}"
												class="bi bi-star-fill"></i><i th:unless="${list?.harfStarCount eq 0}"  
												th:each="i : ${#numbers.sequence(0, list?.harfStarCount - 1)}" 
												class="bi bi-star-half"></i><i th:unless="${list?.emptyStarCount eq 0}"   
												th:each="i : ${#numbers.sequence(0, list?.emptyStarCount - 1)}"
												class="bi bi-star"></i><i th:if="${list?.emptyStarCount eq 0 
												and list?.harfStarCount eq 0 
												and list?.fillStarCount eq 0}"   
												th:each="i : ${#numbers.sequence(0, 4)}"
												class="bi bi-star"></i>
										</small>
										<span class="text-muted small" th:text="${list?.grScoreAvg + ' (' + @doDoUtil.formatNumberComma(list?.grCount) + ')'}"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
	let grScore = document.getElementById("grScore");
	let grComment = document.getElementById("grComment");
	let salesShValue = document.querySelector("input[name=salesShValue]");
	
	let fom = document.querySelector("form[name=form]");

	function submit(url) {
		fom.action = url;
		fom.submit();
	}
</script>

<!-- Sales/Wish/Hold -->
<script type="text/javascript">
	function goSales(gameName) {
		salesShValue.value = gameName;
		submit("/usr/sales/SalesSearchUsrList");
	}

	function goWish(bWish) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		var wishUrl;
		if (bWish) {
			wishUrl = "/usr/member/MemberWishUsrInstByGameDetail";
		} else {
			wishUrl = "/usr/member/MemberWishUsrDeleByGameDetail";
		}
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: wishUrl
			,traditional: true
			,data : {
				"gSeq" : $("#gSeq").val(),
				"mSeq" : $("#mSeq").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					disposeAllTooltips();
					$('#wishholdRefresh').replaceWith(fragmentHtml);
					refreshTooltipsAndTitles();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function goWishRelation(bWish, rgSeq) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		var wishUrl;
		if (bWish) {
			wishUrl = "/usr/member/MemberWishUsrInstByGameDetailRelation";
		} else {
			wishUrl = "/usr/member/MemberWishUsrDeleByGameDetailRelation";
		}
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: wishUrl
			,traditional: true
			,data : {
				"rgSeq" : rgSeq,
				"gSeq" : $("#gSeq").val(),
				"mSeq" : $("#mSeq").val(),
				"gCategoryCd" : $("#gCategoryCd").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					disposeAllTooltips();
					$('#relationRefresh').replaceWith(fragmentHtml);
					refreshTooltipsAndTitles();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function goHold(bHold) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		var holdUrl;
		if (bHold) {
			holdUrl = "/usr/member/MemberHoldUsrInstByGameDetail";
		} else {
			holdUrl = "/usr/member/MemberHoldUsrDeleByGameDetail";
		}
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: holdUrl
			,traditional: true
			,data : {
				"gSeq" : $("#gSeq").val(),
				"mSeq" : $("#mSeq").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					disposeAllTooltips();
					$('#wishholdRefresh').replaceWith(fragmentHtml);
					refreshTooltipsAndTitles();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function goHoldRelation(bHold, rgSeq) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		var holdUrl;
		if (bHold) {
			holdUrl = "/usr/member/MemberHoldUsrInstByGameDetailRelation";
		} else {
			holdUrl = "/usr/member/MemberHoldUsrDeleByGameDetailRelation";
		}
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: holdUrl
			,traditional: true
			,data : {
				"rgSeq" : rgSeq,
				"gSeq" : $("#gSeq").val(),
				"mSeq" : $("#mSeq").val(),
				"gCategoryCd" : $("#gCategoryCd").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					disposeAllTooltips();
					$('#relationRefresh').replaceWith(fragmentHtml);
					refreshTooltipsAndTitles();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	document.getElementById("btnModalLogin").onclick = function() {
		location.href = "/usr/member/MemberXdmSignIn";
	}
	
	function disposeAllTooltips() {
		  // 기존 툴팁 인스턴스 숨기고 제거
		  document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(el => {
		    const tooltip = bootstrap.Tooltip.getInstance(el);
		    if (tooltip) {
		      tooltip.hide();    // 툴팁 숨기기
		      tooltip.dispose(); // 인스턴스 완전 제거
		    }
		  });
		  
		  // body에 남아있는 툴팁 팝업 엘리먼트도 제거
		  document.querySelectorAll('.tooltip').forEach(tt => tt.remove());
		}
	
	function refreshTooltipsAndTitles() {
		// 텍스트 갱신
	    document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(el => {
	      const icon = el.querySelector('i');
	      if (icon) {
	        if (icon.classList.contains('bi-heart-fill')) {
	          el.setAttribute('title', '위시리스트 삭제');
	        } else if (icon.classList.contains('bi-heart')) {
	          el.setAttribute('title', '위시리스트 등록');
	        } else if (icon.classList.contains('bi-emoji-smile-fill')) {
	          el.setAttribute('title', '보유 게임 삭제');
	        } else if (icon.classList.contains('bi-emoji-smile')) {
	          el.setAttribute('title', '보유 게임 등록');
	        }
	      }
	    });

	    // 툴팁 재초기화
	    document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(el => {
	      new bootstrap.Tooltip(el, { trigger: 'hover focus' });
	    });
	}
</script>

<!-- Review -->
<script type="text/javascript">
	//리뷰 입력 시 글자 수 세기
	$("#grComment").keyup(function (e) {
	    var content = $(this).val();
	    
	    if(content.length == 0 || content == ""){
	        $(".comment_length").text('0');
	    }else{
	        $(".comment_length").text(content.length);
	    }
	
	    if (content.length > 200) {
	    	$(this).val($(this).val().substring(0, 200));
	    }
	});

	$(document).on('click', '#linkReviews', function(event) {
		// 링크 클릭 기본 동작을 막음
		event.preventDefault();  
		
		// 탭이 이미 활성화돼 있는지 확인
	    const isActive = $('#reviews-tab').hasClass('active');

	    if (!isActive) {
	        // 탭이 비활성화 상태면 클릭하여 활성화
	        $('#reviews-tab').click();

	        // 탭이 전환된 후 실행되도록 약간의 지연을 줌
	        setTimeout(() => {
	        	reviewBtnClick();
	        }, 100);
	    } else {
	        // 이미 활성화돼 있다면 바로 실행
	    	reviewBtnClick();
	    }
	});
	
	// 리뷰 버튼으로 스크롤 이동
	$(document).on('click', '#reviews', function() {
		reviewBtnClick();
	});
	
	function reviewBtnClick() {
		$('#reviews-tab')[0].scrollIntoView({
			behavior: 'smooth',  // 부드럽게 스크롤
			block: 'start'       // 해당 요소의 상단으로 이동
		});
		
		// 리뷰 입력 부분 초기화
		reviewReset();
	}
	
	function reviewReset() {
		resetValidation(grScore);
		resetValidation(grComment);
		
		grScore.options[0].selected = true;
		grComment.value = "";
	}
	
	// 리뷰 더보기
	document.getElementById("btnMoreReview").onclick = function() {
		var grDtosSize = document.getElementById("grDtosSize");
		var grCount = document.getElementById("grCount");
		
		// 보여주는 댓글이 총 개수보다 많거나 같다면 더보여주지 않는다
		if (Number(grDtosSize.value) >= Number(grCount.value)) return false;
			
		grDtosSize.value = Number(grDtosSize.value) + 5; // 5개씩 더 보여주기
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/game/GameUsrDetailReviewMore"
			,data : {
				"gSeq" : $("#gSeq").val(),
				"grDtosSize" : $("#grDtosSize").val(),
				"grCount" : $("#grCount").val(),
				"grShOption" : $("#grShOption").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					$('#reviewList').replaceWith(fragmentHtml); // fragmentHtml은 렌더링된 HTML fragment
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
</script>

<!-- Validation: Bootstrap -->
<script type="text/javascript">
	// btnSave 클릭시
	document.getElementById("btnSave").onclick = function() {
		var member_mSeq = document.getElementById("member_mSeq").value;
		if (member_mSeq == null || member_mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		var focus = false; // Validation 후 Focus 줘야 하는 Input
		
		// grScore 체크
		grScore.classList.add("is-valid");	
		
		// grComment 체크
		resetValidation(grComment);
		
		if (!strValidation(grComment)) {
			grComment.classList.add("is-invalid");
			
			if (!focus) {
				grComment.focus();
				focus = true;
			}
		} else {
			grComment.classList.add("is-valid");
		}
		
		// Alert/Modal과 달리 모든  Input창을 한번에 확인해야 하므로 return false 시
		// Focus 줘야 하는 Input(Validation에 처음으로 걸린 Input)이 있는지 확인
		if (focus) return false;

		grComment.value = grComment.value.trim();
		
		setReview();
	}
	
	// grScore Input 시 체크
	grScore.addEventListener("input", function(){
		grScore.classList.add("is-valid");	
	});
	
	// grComment Input 시 체크
	grComment.addEventListener("input", function(){
		resetValidation(grComment);
		
		if (!strValidation(grComment)) {
			grComment.classList.add("is-invalid");
		} else {
			grComment.classList.add("is-valid");
		}	
	});
	
	function setReview() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/game/GameUsrDetailReviewInst"
			,data : {
				"member_mSeq" : $("#member_mSeq").val(),
				"game_gSeq" : $("#game_gSeq").val(),
				"grScore" : $("#grScore").val(), 
				"grComment" : $("#grComment").val(),
				"gSeq" : $("#gSeq").val(),
				"grDtosSize" : $("#grDtosSize").val(),
				"grCount" : $("#grCount").val()
			}
			,success: function(fragmentHtml) {
				// 입력창 초기화
				reviewReset();
				
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					$('#gameInfoRefresh').replaceWith(fragmentHtml);
					reviewDistributionRefresh();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function reviewDistributionRefresh() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/game/GameUsrDetailReviewDistributionRefresh"
			,data : {
				"gSeq" : $("#gSeq").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					$('#reviewDistributionRefresh').replaceWith(fragmentHtml);
					reviewListRefresh();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function reviewListRefresh() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/game/GameUsrDetailReviewListRefresh"
			,data : {
				"gSeq" : $("#gSeq").val(),
				"grDtosSize" : $("#grDtosSize").val(),
				"grCount" : $("#grCount").val(),
				"grShOption" : $("#grShOption").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					$('#reviewList').replaceWith(fragmentHtml);
					
					$('#reviews-tab')[0].scrollIntoView({
						behavior: 'smooth',  // 부드럽게 스크롤
						block: 'start'       // 해당 요소의 상단으로 이동
					});
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	document.getElementById("btnModalLogin").onclick = function() {
		location.href = "/usr/member/MemberXdmSignIn";
	}
</script>

</body>
</html>