<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<div class="mt-8 mb-lg-14 mb-8">
		<div class="container">
			
			<form name="formList" id="formList" method="post" autocomplete="off">
			
				<input type="hidden" id="currPage" name="currPage" th:value="${vo.currPage}" default="1"/>
				<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
				<input type="hidden" id="shCategoryCd" name="shCategoryCd" th:value="${vo.shCategoryCd}"/>
				<input type="hidden" id="gSeq" name="gSeq">
				<input type="hidden" id="mSeq" name="mSeq" th:value="${session.sessSeqUsr}">
				<input type="hidden" id="gCategoryCd" name="gCategoryCd">
			
				<div class="row gx-10">
					<aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
						<div id="setGameSearchValue" th:fragment="setGameSearchValue">
							<div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" 
								tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
								<div class="offcanvas-header d-lg-none">
									<h5 class="offcanvas-title" id="offcanvasCategoryLabel">검색</h5>
									<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
								</div>
								<div class="offcanvas-body ps-lg-2 pt-lg-0">				
									<div class="mb-8">
										<ul class="nav nav-category">
											<li class="nav-item border-bottom w-100">
												<a href="javascript:void(0);" class="nav-link" onclick="goCateList('')">전체 보기</a>
											</li>
										</ul>
										<ul class="nav" 
											th:each="codeList : ${@codeService.selectListCachedCode(@constants.GAME_CODE_GROUP_SEQ_CATEGORY)}">
											<li class="nav-item border-bottom w-100">
												<a href="javascript:void(0);" class="nav-link" th:text="${codeList.cName}" th:attr="onclick=|goCateList('${codeList.cSeq}')|"></a>
											</li>
										</ul>
									</div>
		
									<div class="mb-8">
										<div class="my-4">
											<input type="search" class="form-control" placeholder="게임명 검색"
												id="shValue" name="shValue" th:value="${vo.shValue}" />
										</div>
									</div>
									<div class="mb-8">
										<h5 class="mb-3">인원</h5>
										<div class="form-check mb-2" th:each="entry : ${vo.shPeopleList}">
											<input class="form-check-input" type="checkbox" th:checked="${entry.value}"
												th:attr="onclick=|searchPeopleList('${entry.key}', ${entry.value})|" />
											<label class="form-check-label" th:text="${entry.key}"></label>
										</div>
									</div>
									<div class="mb-8">
										<h5 class="mb-3">소요 시간</h5>
										<div class="form-check mb-2" th:each="entry : ${vo.shTimeList}">
											<input class="form-check-input" type="checkbox" th:checked="${entry.value}"
												 th:attr="onclick=|searchTimeList('${entry.key}', ${entry.value})|" />
											<label class="form-check-label" th:text="${entry.key}"></label>
										</div>
									</div>
									<div class="mb-8">
										<h5 class="mb-3">난이도 (최상 5)</h5>
										<div class="form-check mb-2" th:each="entry : ${vo.shLevelList}">
											<input class="form-check-input" type="checkbox" th:checked="${entry.value}"
												 th:attr="onclick=|searchLevelList('${entry.key}', ${entry.value})|" />
											<label th:if="${entry.key == '(5)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
											<label th:if="${entry.key == '(4 - 4.99)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
											<label th:if="${entry.key == '(3 - 3.99)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
											<label th:if="${entry.key == '(2 - 2.99)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
											<label th:if="${entry.key == '(0 - 1.99)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
										</div>
									</div>
									<div class="mb-8">
										<h5 class="mb-3">평점 (최고 10점)</h5>
										<div class="form-check mb-2" th:each="entry : ${vo.shScoreList}">
											<input class="form-check-input" type="checkbox" th:checked="${entry.value}"
												 th:attr="onclick=|searchScoreList('${entry.key}', ${entry.value})|" />
											<label th:if="${entry.key == '(8 - 10)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
											<label th:if="${entry.key == '(6 - 7.99)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
											<label th:if="${entry.key == '(4 - 5.99)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
											<label th:if="${entry.key == '(2 - 3.99)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
											<label th:if="${entry.key == '(0 - 1.99)'}" class="form-check-label">
												<i class="bi bi-star-fill text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<i class="bi bi-star text-warning"></i>
												<span class="small" th:text="${entry.key}"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</aside>
					
					<section class="col-lg-9 col-md-12">
						<div class="row g-4 row-cols-1">
							<div class="card mb-4 bg-light border-0">
								<div class="card-body p-7">
									<div id="titleRefresh" th:fragment="titleRefresh">
										<h3 th:if="${@codeService.selectOneCachedCode(vo.shCategoryCd) == ''
											or @codeService.selectOneCachedCode(vo.shCategoryCd) == null}" 
											class="mb-0">전체 보기</h3>
										<h3 th:unless="${@codeService.selectOneCachedCode(vo.shCategoryCd) == ''
											or @codeService.selectOneCachedCode(vo.shCategoryCd) == null}" 
											class="mb-0" th:text="${@codeService.selectOneCachedCode(vo.shCategoryCd)}"></h3>
									</div>
								</div>
							</div>
							<div class="d-lg-flex justify-content-between align-items-center">
								<div class="mb-3 mb-lg-0">
									<div id="totalGameRefresh" th:fragment="totalGameRefresh">
										<p class="mb-0">
											Total: <span class="text-dark" th:text="${vo.totalRows}"></span>
										</p>
									</div>
								</div>
	
								<div class="d-md-flex justify-content-between align-items-center">
									<div class="d-flex align-items-center justify-content-between">
										<div class="d-lg-none">
											<a class="btn btn-outline-gray-400 text-muted" data-bs-toggle="offcanvas"
												href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory">
												<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
													fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
													stroke-linejoin="round" class="feather feather-filter">
													<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
												</svg>
												&nbsp;검색
											</a>
										</div>
									</div>
	
									<div class="d-flex mt-2 mt-lg-0">
										<div class="me-2 flex-grow-1">
											<select class="form-select" id="changeRowNum" name="changeRowNum">
												<option value="5" th:selected="${vo.rowNumToShow eq 5}">5개씩 보기</option>
												<option value="10" th:selected="${vo.rowNumToShow eq 10}">10개씩 보기</option>
												<option value="30" th:selected="${vo.rowNumToShow eq 30}">30개씩 보기</option>
												<option value="50" th:selected="${vo.rowNumToShow eq 50}">50개씩 보기</option>
												<option value="80" th:selected="${vo.rowNumToShow eq 80}">80개씩 보기</option>
												<option value="100" th:selected="${vo.rowNumToShow eq 100}">100개씩 보기</option>       
											</select>
										</div>
										<div>
											<select class="form-select" id="shOrderOption" name="shOrderOption">
												<option value="1" th:selected="${vo.shOrderOption eq 1}">평점 높은순</option>
												<option value="2" th:selected="${vo.shOrderOption eq 2}">평점 낮은순</option>
												<option value="3" th:selected="${vo.shOrderOption eq 3}">난이도 낮은순</option>
												<option value="4" th:selected="${vo.shOrderOption eq 4}">난이도 높은순</option>
												<option value="5" th:selected="${vo.shOrderOption eq 5}">소요시간 짧은순</option>
												<option value="6" th:selected="${vo.shOrderOption eq 6}">소요시간 긴순</option>
												<option value="7" th:selected="${vo.shOrderOption eq 7}">인원 적은순</option>
												<option value="8" th:selected="${vo.shOrderOption eq 8}">인원 많은순</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="gameListRefresh" th:fragment="gameListRefresh">
							<div class="row g-4 row-cols-1 mt-2">
								<div th:if="${#lists.isEmpty(gameList)}">데이터가 없습니다.</div> 
								<div th:if="${!#lists.isEmpty(gameList)}" th:each="list : ${gameList}"
									class="col card card-product card-body">
									<div class="row align-items-center">
										<div class="col-md-4 col-12">
											<div class="text-center position-relative">
												<div class="position-absolute top-0">
													<span class="badge bg-danger" th:text="${(list?.grOrder)}"></span>
												</div>
												<a href="javascript:void(0);"
													th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|">
													<img th:if="${list?.fPath eq null or #strings.trim(list?.fPath) eq ''}" 
														class="img-fluid" 
														src="/assets/usr/template/FreshCart-1.4.0/images/products/placeholder-img.jpg" />
													<img th:if="${list?.fPath ne null and #strings.trim(list?.fPath) ne ''}" 
														class="img-fluid" th:src="${list?.fPath}" />
												</a>
											</div>
										</div>
										<div class="col-md-8 col-12 flex-grow-1">
											<div class="text-small mb-1">
												<span class="text-muted" th:text="${@codeService.selectOneCachedCode(list?.gCategoryCd)}"></span>
											</div>
											<h2 class="fs-5">
												<a class="text-inherit text-decoration-none" href="javascript:void(0);" th:text="${list?.gName}"
													th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|"></a>
											</h2>
											<div>
												<span class="text-warning">
													<i th:unless="${list?.fillStarCount eq 0}" 
														th:each="i : ${#numbers.sequence(0, list?.fillStarCount - 1)}"
														class="bi bi-star-fill"></i><i th:unless="${list?.harfStarCount eq 0}"  
														th:each="i : ${#numbers.sequence(0, list?.harfStarCount - 1)}" 
														class="bi bi-star-half"></i><i th:unless="${list?.emptyStarCount eq 0}"   
														th:each="i : ${#numbers.sequence(0, list?.emptyStarCount - 1)}"
														class="bi bi-star"></i><i th:if="${list?.emptyStarCount eq 0 
														and list?.harfStarCount eq 0 
														and list?.fillStarCount eq 0}"   
														th:each="i : ${#numbers.sequence(0, 4)}"
														class="bi bi-star"></i>
												</span>
												
												<span class="text-muted small" th:text="${list?.grScoreAvg + ' (' + list?.grCount + ')'}"></span>
											</div>
											<div class="mt-1">
												<i class="bi bi-reception-4" data-bs-toggle="tooltip" title="난이도"></i>
												<span th:text="${list?.gLevel}"></span>&nbsp;&nbsp;
												<i class="bi bi-person" data-bs-toggle="tooltip" title="인원"></i>
												<span th:if="${list?.gMinPeople eq list?.gMaxPeople}"
													th:text="${list?.gMinPeople + '명 (' + list?.gBestPeople + '인 최적)'}"></span>
												<span th:unless="${list?.gMinPeople eq list?.gMaxPeople}"
													th:text="${list?.gMinPeople + '-' + list?.gMaxPeople + '명 (' + list?.gBestPeople + '인 최적)'}"></span>&nbsp;&nbsp;
												<i class="bi bi-person-plus" data-bs-toggle="tooltip" title="사용 연령"></i>
												<span th:text="${list?.gUseAge + '세 이상'}"></span>&nbsp;&nbsp;
												<i class="bi bi-alarm" data-bs-toggle="tooltip" title="소요시간"></i>
												<span th:if="${list?.gMinTime eq list?.gMaxTime}" 
													th:text="${list?.gMinTime + '분'}"></span>
												<span th:unless="${list?.gMinTime eq list?.gMaxTime}"
													th:text="${list?.gMinTime + '-' + list?.gMaxTime + '분'}"></span>
											</div>
											<div class="mt-2">
												<a th:if="${list?.gOfficialUrl ne null and #strings.trim(list?.gOfficialUrl) ne ''}" 
													th:href="${list?.gOfficialUrl}" class= "d-block" target="_blank">공식판매처</a>
												<span th:unless="${list?.gOfficialUrl ne null and #strings.trim(list?.gOfficialUrl) ne ''}" 
													class= "d-block">공식판매처 정보없음</span>
											</div>
											<div class="mt-3">
												<a href="#"
													class="btn btn-icon btn-sm btn-outline-gray-400 text-muted"
													data-bs-toggle="tooltip" title="내 게임 등록"><i class="bi bi-emoji-smile"></i></a>
												<a th:if="${list?.mwCount == 0}" href="javascript:void(0);"
													th:attr="onclick=|goWish(true, '${list.gSeq}')|"
													class="btn btn-icon btn-sm btn-outline-gray-400 text-muted"
													data-bs-toggle="tooltip" title="위시리스트 등록"><i class="bi bi-heart"></i></a>
												<a th:unless="${list?.mwCount == 0}" href="javascript:void(0);"
													th:attr="onclick=|goWish(false, '${list.gSeq}')|"
													class="btn btn-icon btn-sm btn-outline-gray-400 text-muted"
													data-bs-toggle="tooltip" title="위시리스트 삭제"><i class="bi bi-heart-fill"></i></a>
												<a href="#" 
													class="btn btn-icon btn-sm btn-outline-gray-400 text-muted"
													data-bs-toggle="tooltip" title="중고 구매"><i class="bi bi-cart"></i></a>
											</div>
										</div>
									</div>
		                        </div>
							</div>
							<div class="row mt-8">
								<div class="col">
									<nav>
										<ul class="pagination">
											<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
												<a class="page-link" href="javascript:goList(${vo.startPage - 1})"
													th:attr="onclick=|goList('${vo.startPage - 1}')|">
													<span aria-hidden="true">&laquo;</span>
												</a>
											</li>
											<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" 
												th:classappend="${num eq vo.currPage} ? active : ''" 
												class="page-item" style="cursor: pointer;">
												<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
											</li>
											<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
												<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
													<span aria-hidden="true">&raquo;</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</section>
				</div>
			</form>
		</div>
	</div>
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
  	let gSeq = document.querySelector("input[name=gSeq]");
  	let mSeq = document.querySelector("input[name=mSeq]");
  	let cate = document.querySelector("input[name=gCategoryCd]");
  	let shCategoryCd = document.querySelector("input[name=shCategoryCd]");
    	
	let fom = document.querySelector("form[name=formList]");
	
	function submit(goUrl) {
		fom.action = goUrl;
		fom.submit();
	}
</script>

<!-- 변수 정의(검색 체크박스) -->
<script th:inline="javascript">
	let shPeopleList = /*[[${vo.shPeopleList}]]*/ {};
	let shTimeList = /*[[${vo.shTimeList}]]*/ {};
	let shLevelList = /*[[${vo.shLevelList}]]*/ {};
	let shScoreList = /*[[${vo.shScoreList}]]*/ {};
</script>

<!-- Wish -->
<script type="text/javascript">
	function goWish(bWish, gameSeq) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		gSeq.value = gameSeq;
		
		var wishUrl;
		if (bWish) {
			wishUrl = "/usr/member/MemberWishUsrInstByGameInfo";
		} else {
			wishUrl = "/usr/member/MemberWishUsrDeleByGameInfo";
		}
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: wishUrl
			,traditional: true
			,data : {
				"gSeq" : $("#gSeq").val(),
				"mSeq" : $("#mSeq").val(),
				"currPage" : $("#currPage").val(),
				"rowNumToShow" : $("#rowNumToShow").val(),
				"shCategoryCd" : $("#shCategoryCd").val(),
				"shValue" : $("#shValue").val(),
				"shOrderOption" : $("#shOrderOption").val(),
				...flattenMap("shPeopleList", shPeopleList),
		        ...flattenMap("shTimeList", shTimeList),
		        ...flattenMap("shLevelList", shLevelList),
		        ...flattenMap("shScoreList", shScoreList)
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					disposeAllTooltips();
					$('#gameListRefresh').replaceWith(fragmentHtml);
					refreshTooltipsAndTitles();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	document.getElementById("btnModalLogin").onclick = function() {
		location.href = "/usr/member/MemberXdmSignIn";
	}
	
	function disposeAllTooltips() {
		  // 기존 툴팁 인스턴스 숨기고 제거
		  document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(el => {
		    const tooltip = bootstrap.Tooltip.getInstance(el);
		    if (tooltip) {
		      tooltip.hide();    // 툴팁 숨기기
		      tooltip.dispose(); // 인스턴스 완전 제거
		    }
		  });
		  
		  // body에 남아있는 툴팁 팝업 엘리먼트도 제거
		  document.querySelectorAll('.tooltip').forEach(tt => tt.remove());
		}
	
	function refreshTooltipsAndTitles() {
		// 텍스트 갱신
	    document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(el => {
	      const icon = el.querySelector('i');
	      if (icon) {
	        if (icon.classList.contains('bi-heart-fill')) {
	          el.setAttribute('title', '위시리스트 삭제');
	        } else if (icon.classList.contains('bi-heart')) {
	          el.setAttribute('title', '위시리스트 등록');
	        }
	      }
	    });

	    // 툴팁 재초기화
	    document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(el => {
	      new bootstrap.Tooltip(el, { trigger: 'hover focus' });
	    });
	}
</script>

<!-- Search / Paging -->
<script type="text/javascript">
	function goCateList(keyValue) {
		shCategoryCd.value = keyValue;
		setSearchValue();
	}

	function goList(currPage) {
		document.querySelector("input[name=currPage]").value = currPage;
		setSearchValue();
	}
	
	function goDetail(gameSeq, gameCate) {
		gSeq.value = gameSeq;
		cate.value = gameCate;
		submit("/usr/game/GameUsrDetail");
	}
	
	document.getElementById("changeRowNum").onchange = function () {
	    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
	    setSearchValue();
	}
	
	document.getElementById("shOrderOption").onchange = function () {
	    document.getElementById("shOrderOption").value = document.getElementById("shOrderOption").value;
	    setSearchValue();
	}
	
	function searchPeopleList(key, value) {
		shPeopleList[key] = !value;
		setSearchValue();
	}
	
	function searchTimeList(key, value) {
		shTimeList[key] = !value;
		setSearchValue();
	}
	
	function searchLevelList(key, value) {
		shLevelList[key] = !value;
		setSearchValue();
	}
	
	function searchScoreList(key, value) {
		shScoreList[key] = !value;
		setSearchValue();
	}
	
	function setSearchValue() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/game/GameInfoSearchUsr"
			,traditional: true
			,data : {
				"currPage" : $("#currPage").val(),
				"rowNumToShow" : $("#rowNumToShow").val(),
				"shCategoryCd" : $("#shCategoryCd").val(),
				"shValue" : $("#shValue").val(),
				"shOrderOption" : $("#shOrderOption").val(),
				...flattenMap("shPeopleList", shPeopleList),
		        ...flattenMap("shTimeList", shTimeList),
		        ...flattenMap("shLevelList", shLevelList),
		        ...flattenMap("shScoreList", shScoreList)
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					$('#setGameSearchValue').replaceWith(fragmentHtml);
					goSearchTitle();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function goSearchTitle() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/game/GameInfoSearchUsrTitle"
			,traditional: true
			,data : {
				"currPage" : $("#currPage").val(),
				"rowNumToShow" : $("#rowNumToShow").val(),
				"shCategoryCd" : $("#shCategoryCd").val(),
				"shValue" : $("#shValue").val(),
				"shOrderOption" : $("#shOrderOption").val(),
				...flattenMap("shPeopleList", shPeopleList),
		        ...flattenMap("shTimeList", shTimeList),
		        ...flattenMap("shLevelList", shLevelList),
		        ...flattenMap("shScoreList", shScoreList)
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					$('#titleRefresh').replaceWith(fragmentHtml);
					goSearchTotalCount();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function goSearchTotalCount() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/game/GameInfoSearchTotalUsrList"
			,traditional: true
			,data : {
				"currPage" : $("#currPage").val(),
				"rowNumToShow" : $("#rowNumToShow").val(),
				"shCategoryCd" : $("#shCategoryCd").val(),
				"shValue" : $("#shValue").val(),
				"shOrderOption" : $("#shOrderOption").val(),
				...flattenMap("shPeopleList", shPeopleList),
		        ...flattenMap("shTimeList", shTimeList),
		        ...flattenMap("shLevelList", shLevelList),
		        ...flattenMap("shScoreList", shScoreList)
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					$('#totalGameRefresh').replaceWith(fragmentHtml);
					goSearchList();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function goSearchList() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/game/GameInfoSearchUsrList"
			,traditional: true
			,data : {
				"currPage" : $("#currPage").val(),
				"rowNumToShow" : $("#rowNumToShow").val(),
				"shCategoryCd" : $("#shCategoryCd").val(),
				"shValue" : $("#shValue").val(),
				"shOrderOption" : $("#shOrderOption").val(),
				...flattenMap("shPeopleList", shPeopleList),
		        ...flattenMap("shTimeList", shTimeList),
		        ...flattenMap("shLevelList", shLevelList),
		        ...flattenMap("shScoreList", shScoreList)
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					$('#gameListRefresh').replaceWith(fragmentHtml);
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function flattenMap(baseKey, obj) {
	    const flat = {};
	    for (const key in obj) {
	        if (obj.hasOwnProperty(key)) {
	            flat[`${baseKey}[${key}]`] = obj[key];
	        }
	    }
	    return flat;
	}
</script>

</body>
</html>