<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{/usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<section class="mt-8">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xl-5">
					<div class="product" id="product">																
						<div th:unless="${gameItem?.gTnFileName eq null or #strings.trim(gameItem?.gTnFileName) eq ''}" 
							class="zoom" onmousemove="zoom(event)"
							th:style="@{'background-image: url(/assets/usr/template/FreshCart-1.4.0/images/products_detail/' + ${gameItem?.gTnFileName} + ')'}">
							<img th:src="@{'/assets/usr/template/FreshCart-1.4.0/images/products_detail/' + ${gameItem?.gTnFileName}}" />
						</div>
					</div>
					
				</div>
				<div class="col-md-7 col-xl-6">
					<div class="ps-lg-10 mt-6 mt-md-0">
						<div class="d-flex mb-2 gap-3">
							<div>
								<i class="bi bi-trophy" data-bs-toggle="tooltip" data-bs-html="true" title="순위"></i> 
								<span th:text="${gameItem?.rOrder}"></span>
							</div>
							<div>
								<i class="bi bi-star" data-bs-toggle="tooltip" data-bs-html="true" title="평점"></i>
								<span th:text="${gameItem?.rScoreAvg}"></span>
							</div>
							<div>
								<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i>
								<span th:text="${gameItem?.gLevel}"></span>
							</div>
						</div>
						<h2 class="mb-1" th:text="${gameItem?.gName}"></h2>
						<div class="mb-4">
							<small class="text-warning">
								<i th:unless="${gameItem?.fillStarCount eq 0}" 
									th:each="i : ${#numbers.sequence(0, gameItem?.fillStarCount - 1)}"
									class="bi bi-star-fill"></i>
								<i th:unless="${gameItem?.harfStarCount eq 0}"  
									th:each="i : ${#numbers.sequence(0, gameItem?.harfStarCount - 1)}" 
									class="bi bi-star-half"></i>
								<i th:unless="${gameItem?.emptyStarCount eq 0}"   
									th:each="i : ${#numbers.sequence(0, gameItem?.emptyStarCount - 1)}"
									class="bi bi-star"></i>
							</small>
							<a href="#" class="ms-2" id="linkReviews"
								th:text="${'(' + @doDoUtil.formatNumberComma(gameItem?.rCount) + ' 리뷰 보기)'}"></a>
						</div>  
						<hr class="my-6" />
						<div>
							<!-- table -->
							<table class="table table-borderless mb-0">
								<tbody>
									<tr>
										<th>인원</th>
										<td th:if="${gameItem?.gMinPeople eq gameItem?.gMaxPeople}"
											th:text="${gameItem?.gMinPeople + '명 (' + gameItem?.gBestPeople + '인 최적, ' 
												+ gameItem?.gRecommendPeople + '인 추천)'}"></td>
										<td th:unless="${gameItem?.gMinPeople eq gameItem?.gMaxPeople}"
											th:text="${gameItem?.gMinPeople + ' ~ ' + gameItem?.gMaxPeople + 
												'명 (' + gameItem?.gBestPeople + '인 최적, ' + gameItem?.gRecommendPeople + '인 추천)'}"></td>
									</tr>
									<tr>
										<th>사용연령</th>
										<td th:text="${gameItem?.gUseAge + '세 이상'}"></td>
									</tr>
									<tr>
										<th>소요시간</th>
										<td th:if="${gameItem?.gMinTime == gameItem?.gMaxTime}"
											th:text="${gameItem?.gMinTime + '분'}"></td>
										<td th:unless="${gameItem?.gMinTime == gameItem?.gMaxTime}"
											th:text="${gameItem?.gMinTime + ' ~ ' + gameItem?.gMaxTime + '분'}"></td>	
									</tr>
									<tr>
										<th>공식판매처</th>
										<td>
											<a th:href="${gameItem?.gOfficialUrl}" class= "d-block" target="_blank"
												th:text="${@codeService.selectOneCachedCode(gameItem?.gOfficialCd)}"></a>
										</td>
									</tr>
									<tr>
										<th>커뮤니티</th>
										<td>
											<div class="d-flex gap-3">
												<a th:href="${gameItem?.gComuUrl1}" class="text-inherit" target="_blank" 
													style="text-decoration: underline;">BoardLife</a>
												<a th:href="${gameItem?.gComuUrl2}" class="text-inherit" target="_blank"
													style="text-decoration: underline;">BoardgameGeek</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<hr class="my-6" />
						<div class="mt-3 row justify-content-start g-2 align-items-center">
							<div class="col-xxl-3 col-lg-4 col-md-5 col-5 d-grid">
								<a class="btn btn-primary" href="./usedgame-shopping.html">
									<i class="feather-icon icon-shopping-bag me-2"></i>중고 구매
								</a>
							</div>
							<div class="col-xxl-4 col-lg-4 col-md-5 col-5 d-grid">
								<a class="btn btn-info" href="./myboardgame-holding-write.html">
									<i class="feather-icon icon-shopping-bag me-2"></i>보유 게임 등록
								</a>
							</div>
							<div class="col-xxl-2 col-lg-4 col-md-2 col-2 d-grid">
								<a class="btn btn-outline-danger" href="#" data-bs-toggle="tooltip"
									data-bs-html="true" aria-label="위시리스트"><i class="feather-icon icon-heart"></i></a>
							</div>
							<div class="col-xxl-3 col-lg-4 col-md-3 col-3 d-grid">
								<div class="dropdown">
									<a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">Share</a>

									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="#">
												<i class="bi bi-facebook me-2"></i>
												Facebook
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<i class="bi bi-twitter me-2"></i>
												Twitter
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<i class="bi bi-instagram me-2"></i>
												Instagram
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="mt-lg-14 mt-8">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills nav-lb-tab" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="details-tab" data-bs-toggle="tab"
								data-bs-target="#details-tab-pane" type="button" role="tab"
								aria-controls="details-tab-pane" aria-selected="false">
								게임 상세 정보
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
								data-bs-target="#reviews-tab-pane" type="button" role="tab"
								aria-controls="reviews-tab-pane" aria-selected="false">
								리뷰
							</button>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="details-tab-pane" role="tabpanel"
							aria-labelledby="details-tab" tabindex="0">
							<div class="my-8">
								<div class="row">
									<div class="col-12 col-lg-8">
										<table class="table table-striped">
											<tbody>
												<tr>
													<th width="300px">디자이너</th>
													<td th:text="${gameItem?.gGDName}" style="white-space: pre-line"></td>
												</tr>
												<tr>
													<th>아트웍 작가</th>
													<td th:text="${gameItem?.gGAAName}" style="white-space: pre-line"></td>
												</tr>
												<tr>
													<th>출판사</th>
													<td th:text="${gameItem?.gGPName}" style="white-space: pre-line"></td>
												</tr>
												<tr>
													<th>카테고리</th>
													<td class="border-bottom"
														th:text="${@codeService.selectOneCachedCode(gameItem?.gCategoryCd)}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel"
							aria-labelledby="reviews-tab" tabindex="0">
							<div class="my-8">
								<div class="row">
									<div class="col-md-4">
										<div class="me-lg-12 mb-6 mb-md-0">
											<div class="mb-5">
												<h4 class="mb-3">평점</h4>
												<span>
													<small class="text-warning">
														<i th:unless="${gameItem?.fillStarCount eq 0}" 
															th:each="i : ${#numbers.sequence(0, gameItem?.fillStarCount - 1)}"
															class="bi bi-star-fill"></i>
														<i th:unless="${gameItem?.harfStarCount eq 0}"  
															th:each="i : ${#numbers.sequence(0, gameItem?.harfStarCount - 1)}" 
															class="bi bi-star-half"></i>
														<i th:unless="${gameItem?.emptyStarCount eq 0}"   
															th:each="i : ${#numbers.sequence(0, gameItem?.emptyStarCount - 1)}"
															class="bi bi-star"></i>
													</small>
													<span class="ms-3" th:text="${gameItem?.rScoreAvg + '/ 10'}"></span>
													<small class="ms-3" th:text="${'리뷰 합계 ' + @doDoUtil.formatNumberComma(gameItem?.rCount)}"></small>
												</span>
											</div>
											<div class="mb-8">
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">10</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 53%" aria-valuenow="53"
																aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
													<span class="text-muted ms-3">53%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">9</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 50%" aria-valuenow="50"
																aria-valuemin="0" aria-valuemax="50"></div>
														</div>
													</div>
													<span class="text-muted ms-3">22%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">8</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 35%" aria-valuenow="35"
																aria-valuemin="0" aria-valuemax="35"></div>
														</div>
													</div>
													<span class="text-muted ms-3">14%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">7</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 22%" aria-valuenow="22"
																aria-valuemin="0" aria-valuemax="22"></div>
														</div>
													</div>
													<span class="text-muted ms-3">5%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">6</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 14%" aria-valuenow="14"
																aria-valuemin="0" aria-valuemax="14"></div>
														</div>
													</div>
													<span class="text-muted ms-3">7%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">5</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 60%" aria-valuenow="60"
																aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
													<span class="text-muted ms-3">53%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">4</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 50%" aria-valuenow="50"
																aria-valuemin="0" aria-valuemax="50"></div>
														</div>
													</div>
													<span class="text-muted ms-3">22%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">3</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 35%" aria-valuenow="35"
																aria-valuemin="0" aria-valuemax="35"></div>
														</div>
													</div>
													<span class="text-muted ms-3">14%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">2</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 22%" aria-valuenow="22"
																aria-valuemin="0" aria-valuemax="22"></div>
														</div>
													</div>
													<span class="text-muted ms-3">5%</span>
												</div>
												<div class="d-flex align-items-center mb-2">
													<div class="text-nowrap me-3 text-muted">
														<span
															class="d-inline-block align-middle text-muted">1</span>
														<i class="bi bi-star-fill ms-1 small text-warning"></i>
													</div>
													<div class="w-100">
														<div class="progress" style="height: 6px">
															<div class="progress-bar bg-warning" role="progressbar"
																style="width: 14%" aria-valuenow="14"
																aria-valuemin="0" aria-valuemax="14"></div>
														</div>
													</div>
													<span class="text-muted ms-3">7%</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-8">
										<div class="mb-10">
											<div class="d-flex justify-content-between align-items-center mb-8">
												<div>
													<h4>리뷰</h4>
												</div>
												<div>
													<select class="form-select">
														<option selected>평점 높은순</option>
														<option value="Most Recent">최신순</option>
													</select>
												</div>
											</div>
											<div class="d-flex border-bottom pb-6 mb-6">
												<img src="/assets/usr/template/FreshCart-1.4.0/images/avatar/avatar-10.jpg" alt=""
													class="rounded-circle avatar-lg" />
												<div class="ms-5">
													<h6 class="mb-1">김개똥</h6>
													<p class="small">
														<span class="text-muted">2025-02-25 23:00</span>
													</p>
													<div class="mb-2">
														<i class="bi bi-star-fill text-warning"></i>
														<i class="bi bi-star-fill text-warning"></i>
														<i class="bi bi-star-fill text-warning"></i>
														<i class="bi bi-star-half text-warning"></i>
														<i class="bi bi-star text-warning"></i>
														<span class="ms-3 text-dark fw-bold">6.7</span>
													</div>
													<p>
														재미있습니다!!! 재미있습니다!!! 재미있습니다!!! 재미있습니다!!!
														재미있습니다!!! 재미있습니다!!! 재미있습니다!!! 재미있습니다!!!
														재미있습니다!!! 재미있습니다!!! 재미있습니다!!! 재미있습니다!!!
														재미있습니다!!! 재미있습니다!!! 재미있습니다!!! 재미있습니다!!!
													</p>
												</div>
											</div>
											<div>
												<a href="#" class="btn btn-outline-gray-400 text-muted">리뷰 더 보기</a>
											</div>
										</div>
										<div>
											<form class="row g-6 needs-validation" novalidate>
												<div class="card card-lg">
													<div class="card-body p-6 d-flex flex-column gap-3">
														<h4 class="mb-1">리뷰 작성</h4>
														<div class="py-2 mb-1">
															<div class="mb-3 col-lg-2">
																<label class="form-label">
																	<h6>평점<span style="color: red;"> *</span></h6>
																</label>
																<select class="form-select" required>
																	<option value="score_10" selected>10</option>
																	<option value="score_9">9</option>
																	<option value="score_8">8</option>
																	<option value="score_7">7</option>
																	<option value="score_6">6</option>
																	<option value="score_5">5</option>
																	<option value="score_4">4</option>
																	<option value="score_3">3</option>
																	<option value="score_2">2</option>
																	<option value="score_1">1</option>
																</select>
															</div>
														</div>
														<div class="py-2 mb-1">
															<label class="form-label">
																<h6>리뷰 작성<span style="color: red;"> *</span></h6>
															</label>
															<textarea class="form-control" rows="3" placeholder="500자 내로 입력해주세요." style="resize: none;" required></textarea>
															<div class="invalid-feedback">리뷰 내용을 입력해 주세요.</div>
														</div>
														<div class="d-flex justify-content-end">
															<button class="btn btn-primary" type="submit">리뷰 등록</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="sellerInfo-tab-pane" role="tabpanel"
							aria-labelledby="sellerInfo-tab" tabindex="0">...</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- section -->
	<section class="my-lg-14 my-14">
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-12">
					<!-- heading -->
					<h3>연관 게임</h3>
				</div>
			</div>
			<!-- row -->
			<div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-2 mt-2">
				<!-- col -->
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">1</span>
								</div>
								<a href="./boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-1.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip" 
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./usedgame-shopping.html" class="btn-action"><i class="bi bi-cart" 
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">추상</small>
							</div>
							<h2 class="fs-6"><a href="./boardgame-detail.html"
									class="text-inherit text-decoration-none">캘리코</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</small>
								<span class="text-muted small">9.87(2333)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{/usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
  	let seq = document.querySelector("input[name=gSeq]");
    	
	let fom = document.querySelector("form[name=formList]");
	let goUrlXdmDetail = "/usr/game/GameUsrDetail";
	
	function goDetail(keyValue) {
		seq.value = keyValue;
		fom.action = goUrlXdmDetail;
		fom.submit();
	}
</script>

<script type="text/javascript">
	$('#linkReviews').on('click', function(event) {
		// 링크 클릭 기본 동작을 막음
		event.preventDefault();  
		
		// 리뷰 버튼 클릭
		$('#reviews-tab').click();
	});
	
	// 리뷰 버튼으로 스크롤 이동
	$('#reviews-tab').on('click', function() {
		$('#reviews-tab')[0].scrollIntoView({
			behavior: 'smooth',  // 부드럽게 스크롤
			block: 'start'       // 해당 요소의 상단으로 이동
		});
	});
</script>

</body>
</html>