<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<section class="mt-8 mb-14">
		<div class="container">
			<div class="row">
 				<div class="col-lg-12">
    				<div class="mb-8">
						<h3 class="mb-1">Top 10</h3>
					</div>
					<form name="formList" id="formList" method="post" autocomplete="off">
			
						<input type="hidden" name="currPage" th:value="${vo.currPage}" default="1"/>
						<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
						<input type="hidden" name="gSeq">
						<input type="hidden" name="gCategoryCd">
			
						<div class="col-md-12 text-center">
							<div class="card h-100 card-lg">
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
											<thead class="bg-light">
												<tr>
													<th>순위</th>
													<th></th>
													<th>게임명</th>
													<th>카테고리</th>
													<th>평점</th>
													<th>난이도</th>
													<th>인원</th>
													<th>소요시간</th>
													<th>공식판매처</th>
													<th>중고거래</th>
													<th>내게임</th>
													<th>위시</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${#lists.isEmpty(gameList)}">
													<td class="text-center" colspan="10">
														데이터가 없습니다.
													</td>
												</tr> 
												<tr th:if="${!#lists.isEmpty(gameList)}" th:each="list : ${gameList}">
													<td>
														<h5 class="fs-6 mb-0">
															<span th:text="${(listStat.index + 1) + '위'}" class="text-inherit"></span>
														</h5>
													<td>
														<a href="javascript:void(0);"
															th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|">
															<img th:if="${list?.fPath eq null or #strings.trim(list?.fPath) eq ''}" 
																class="icon-shape icon-xxl" 
																src="/assets/usr/template/FreshCart-1.4.0/images/products/placeholder-img.jpg" />
															<img th:if="${list?.fPath ne null and #strings.trim(list?.fPath) ne ''}" 
																class="icon-shape icon-xxl" th:src="${list?.fPath}" />
														</a>
													</td>
													<td>
														<a class="fw-bold text-inherit" href="javascript:void(0);" th:text="${list?.gName}"
															th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|"></a>
													</td>
													<td th:text="${@codeService.selectOneCachedCode(list?.gCategoryCd)}"></td>
													<td th:text="${list?.grScoreAvg}"></td>	
													<td th:text="${list?.gLevel}"></td>
													<td th:if="${list?.gMinPeople eq list?.gMaxPeople}"
														th:text="${list?.gMinPeople + '명'}"></td>
													<td th:unless="${list?.gMinPeople eq list?.gMaxPeople}"
														th:text="${list?.gMinPeople + '-' + list?.gMaxPeople + '명'}"></td>		
													<td th:if="${list?.gMinTime eq list?.gMaxTime}"
														th:text="${list?.gMinTime + '분'}"></td>
													<td th:unless="${list?.gMinTime eq list?.gMaxTime}"
														th:text="${list?.gMinTime + '-' + list?.gMaxTime + '분'}"></td>	
													<td>
														<a th:href="${list?.gOfficialUrl}" class= "d-block" target="_blank"
															th:text="${@codeService.selectOneCachedCode(list?.gOfficialCd)}"></a>
													</td>
													<td><a href="#"><div class="btn btn-primary btn-sm">바로가기</div></a></td>
													<td>
														<a href="#" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="내 게임 등록">
															<i class="feather-icon icon-smile"></i>
														</a>
													</td>
													<td>
														<a href="#" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="위시리스트 등록">
															<i class="feather-icon icon-heart"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
								   	</div>
								</div>
							 </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
  	let seq = document.querySelector("input[name=gSeq]");
  	let cate = document.querySelector("input[name=gCategoryCd]");
    	
	let fom = document.querySelector("form[name=formList]");
	let goUrlUsrDetail = "/usr/game/GameUsrDetail";
	
	function goDetail(keyValue1, keyValue2) {
		seq.value = keyValue1;
		cate.value = keyValue2;
		fom.action = goUrlUsrDetail;
		fom.submit();
	}
</script>

</body>
</html>