<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<div th:replace="~{/xdm/include/head :: head}"></div> <!-- 중복되는 head 처리 -->
	
		<div class="main-wrapper">
			<!-- navbar vertical -->
			<!-- navbar -->
			<nav class="navbar-vertical-nav d-none d-xl-block">
				<div class="navbar-vertical">
					<div class="px-4 py-5">
						<a href="../dashboard/index.html" class="navbar-brand">
							<img src="/xdm/template/FreshCart-1.4.0/dashboard/assets/images/logo/logo.png" alt="" width="180px" />
						</a>
					</div>
					<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
						<ul class="navbar-nav flex-column" id="sideNavbar">
							<li class="nav-item">
								<a class="nav-link" href="../dashboard/index.html">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"><i class="bi bi-house"></i></span>
										<span class="nav-link-text">Home</span>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"><i class="bi bi-bell"></i></span>
										<span class="nav-link-text">공지사항</span>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/xdm/member/MemberXdmList">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"><i class="bi bi-people"></i></span>
										<span class="nav-link-text">회원관리</span>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/xdm/game/GameXdmList">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"><i class="bi bi-box"></i></span>
										<span class="nav-link-text">서비스관리</span>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"><i class="bi bi-chat-dots"></i></span>
										<span class="nav-link-text">커뮤니케이션</span>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link collapsed "
									href="#"
									data-bs-toggle="collapse"
									data-bs-target="#navCategoriesOrders"
									aria-expanded="false"
									aria-controls="navCategoriesOrders"
								>
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
										<span class="nav-link-text">시스템관리</span>
									</div>
								</a>
								<div id="navCategoriesOrders" class="collapse" data-bs-parent="#sideNavbar">
									<ul class="nav flex-column">
										<li class="nav-item">
											<a class="nav-link" href="/xdm/code/CodeXdmList">코드관리</a>
										</li>
										<!-- Nav item -->
										<li class="nav-item">
											<a class="nav-link" href="/xdm/codegroup/CodeGroupXdmList">코드그룹관리</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"><i class="bi bi-person"></i></span>
										<span class="nav-link-text">개인정보관리</span>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"><i class="bi bi-layers"></i></span>
										<span class="nav-link-text">테스트</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

           	<!-- main wrapper -->
			<main class="main-content-wrapper">
				<form name="formList" id="formList" method="post" autocomplete="off">
					
					<input type="hidden" name="currPage" th:value="${vo.currPage}" default="1"/>
					<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
					<input type="hidden" name="gSeq">
					
					<div class="container">
						<div class="row mb-8">
							<div class="col-md-12">
								<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
									<h2>Board Game</h2>
								</div>
							</div>
						</div>
						<div class="row mb-8 g-5">
							<div class="col-lg-12 col-12">
								<div class="card card-lg border-0">
									<div class="card-body d-flex flex-column gap-8 p-7">
										<div class="d-flex flex-column gap-4">
											<div class="row g-3">
												<div class="col-lg-2 col-12">
													<select class="form-select" id="shDelNy" name="shDelNy">
														<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
														<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
														<option value="0" th:selected="${vo.shDelNy == 0}">N</option>            
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select" id="shDelNy" name="shDelNy">
														<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
														<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
														<option value="0" th:selected="${vo.shDelNy == 0}">N</option>            
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shOptionDate" name="shOptionDate">
														<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
														<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
														<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<input type="text" class="form-control" id="shDateStart" name="shDateStart" 
														placeholder="시작일" autocomplete="off">
														<!-- th:value="${#strings.substring(vo.shDateStart, 0, 10)}" -->
												</div>
												<div class="col-lg-2 col-12">
													<input type="text" class="form-control" id="shDateEnd" name="shDateEnd"
														placeholder="종료일" autocomplete="off">
														<!-- th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" -->
												</div>
												<div class="col-lg-2 col-12"></div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shMinLevel" name="shMinLevel">
														<option value="" th:selected="${vo.shMinLevel == null}">최소난이도</option>
														<option th:each="i : ${#numbers.sequence(1,5)}" 
															th:value="${i}" th:selected="${vo.shMinLevel == i}" th:text="${i}"></option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shMaxLevel" name="shMaxLevel">
														<option value="" th:selected="${vo.shMaxLevel == null}">최대난이도</option>
														<option th:each="i : ${#numbers.sequence(1,5)}" 
															th:value="${i}" th:selected="${vo.shMaxLevel == i}" th:text="${i}"></option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shMinScoreAvg" name="shMinScoreAvg">
														<option value="" th:selected="${vo.shMinScoreAvg == null}">최소평점</option>
														<option th:each="i : ${#numbers.sequence(1,10)}" 
															th:value="${i}" th:selected="${vo.shMinScoreAvg == i}" th:text="${i}"></option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shMaxScoreAvg" name="shMaxScoreAvg">
														<option value="" th:selected="${vo.shMaxScoreAvg == null}">최대평점</option>
														<option th:each="i : ${#numbers.sequence(1,10)}" 
															th:value="${i}" th:selected="${vo.shMaxScoreAvg == i}" th:text="${i}"></option>
													</select>
												</div>
												<div class="col-lg-4 col-12"></div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shMinPeople" name="shMinPeople">
														<option value="" th:selected="${vo.shMinPeople == null}">최소인원</option>
														<option th:each="i : ${#numbers.sequence(1,100)}" 
															th:value="${i}" th:selected="${vo.shMinPeople == i}" th:text="${i}"></option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shMaxPeople" name="shMaxPeople">
														<option value="" th:selected="${vo.shMaxPeople == null}">최대인원</option>
														<option th:each="i : ${#numbers.sequence(1,100)}" 
															th:value="${i}" th:selected="${vo.shMaxPeople == i}" th:text="${i}"></option>
														<option value="101" th:selected="${vo.shMaxPeople == 101}">100+</option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shMinTime" name="shMinTime">
														<option value="" th:selected="${vo.shMinTime == null}">최소소요시간</option>
														<option th:each="i : ${#numbers.sequence(1,60)}" 
															th:value="${i}" th:selected="${vo.shMinTime == i}" th:text="${i}"></option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shMaxTime" name="shMaxTime">
														<option value="" th:selected="${vo.shMaxTime == null}">최대소요시간</option>
														<option th:each="i : ${#numbers.sequence(1,60)}" 
															th:value="${i}" th:selected="${vo.shMaxTime == i}" th:text="${i}"></option>
														<option value="61" th:selected="${vo.shMaxPeople == 61}">60+</option>
													</select>
												</div>
												<div class="col-lg-4 col-12"></div>
												<div class="col-lg-2 col-12">
													<select class="form-select"id="shUseAge" name="shUseAge">
														<option value="" th:selected="${vo.shUseAge == null}">사용연령</option>
														<option th:each="i : ${#numbers.sequence(1,20)}" 
															th:value="${i}" th:selected="${vo.shUseAge == i}" th:text="${i}+'세 이상'"></option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select" name="shOfficial" id="shOfficial">
														<option value="" th:selected="${vo.shOfficial == null}">공식판매사</option>
														<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.GAME_CODE_GROUP_SEQ_OFFICIAL)}"
															th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
															th:selected="${#strings.equals(codeList.cSeq, vo.shOfficial)}"></option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<select class="form-select" id="shOption" name="shOption">
														<option value="" th:selected="${vo.shOption == null}">검색구분</option>
														<option value="1" th:selected="${vo.shOption == 1}">고유번호</option>
														<option value="2" th:selected="${vo.shOption == 2}">게임명</option>
														<option value="3" th:selected="${vo.shOption == 3}">최적인원</option>
													</select>
												</div>
												<div class="col-lg-2 col-12">
													<input type="text" class="form-control" id="shValue" name="shValue" 
														th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어">
													<div class="invalid-feedback" id="shValueFeedback"></div>
												</div>
												<div class="col-lg-2 col-12">
													<div class="d-flex flex-column flex-md-row gap-2">
														<button type="submit" id="btnSearch" class="btn btn-primary"><i class="bi bi-search"></i></button>
														<button type="submit" id="btnReset" class="btn btn-secondary"><i class="bi bi-arrow-clockwise"></i></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<!-- card -->
								<div class="card h-100 card-lg">
									
									<div th:replace="~{/xdm/include/totalAndRowNum :: totalAndRowNum}"></div> <!-- 중복되는 totalAndRowNum 처리 -->
									
									<!-- card body -->
									<div class="card-body p-0">
										<!-- table -->
										<div class="table-responsive">
											<table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
												<thead class="bg-light">
													<tr>
														<th>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" id="checkAll" name="checkAll">
															</div>
														</th>
														<th>#</th>
														<th>고유번호</th>
														<th>게임명</th>
														<th>인원</th>
														<th>최적인원</th>
														<th>사용연령</th>
														<th>소요시간</th>
														<th>평점</th>
														<th>난이도</th>
														<th>공식판매처</th>
														<th>등록일</th>
														<th>수정일</th>
													</tr>
												</thead>
												<tbody>
													<tr th:if="${#lists.isEmpty(gameList)}">
														<td class="text-center" colspan="13">
															데이터가 없습니다.
														</td>
													</tr> 
													<tr th:if="${!#lists.isEmpty(gameList)}" th:each="list : ${gameList}">
														<td>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" name="check" id="${list?.gSeq}">
															</div>
														</td>
														<td th:text="${vo.totalRows - ((vo.currPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
														<td th:text="${list?.gSeq}"></td>
														<td>
															<a href="javascript:void(0);" th:text="${list?.gName}"
																th:attr="onclick=|goForm('${list.gSeq}')|"></a>
														</td>
														<td th:if="${list?.gMinPeople eq list?.gMaxPeople}" 
															th:text="${list?.gMaxPeople}"></td>
														<td th:if="${list?.gMinPeople ne list?.gMaxPeople}" 
															th:text="${list?.gMinPeople + '-' + list?.gMaxPeople + '명'}"></td>
														<td th:text="${list?.gBestPeople}"></td>
														<td th:text="${list?.gUseAge + '세 이상'}"></td>
														<td th:if="${list?.gMinTime eq list?.gMaxTime}" 
															th:text="${list?.gMaxTime}"></td>
														<td th:if="${list?.gMinTime ne list?.gMaxTime}" 
															th:text="${list?.gMinTime + '-' + list?.gMaxTime + '분'}"></td>
														<td th:text="${list?.rScoreAvg}"></td>	
														<td th:text="${list?.gLevel}"></td>
														<td th:each="codeList : ${@codeService.selectListCachedCode(@constants.GAME_CODE_GROUP_SEQ_OFFICIAL)}"
															th:if="${#strings.equals(codeList.cSeq, list?.gOfficialCd)}"
															th:text="${codeList?.cName}">
														</td>
														<td th:text="${list?.gRegiDateStr}"></td>
														<td th:text="${list?.gUpdtDateStr}"></td>
													</tr>
												</tbody>
											</table>
									   	</div>
									</div>
									<div class="border-top d-md-flex justify-content-between align-items-center px-6 py-6">
										<div></div>
										<nav class="mt-2 mt-md-0">
											<ul class="pagination mb-0">
												<!-- 타임리프 
													gt 뜻: >
													ne 뜻: !=
													eq 뜻: ==
												-->
												<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
													<a class="page-link" href="javascript:goList(${vo.startPage - 1})"
														th:attr="onclick=|goList('${vo.startPage - 1}')|">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
												<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" 
													th:classappend="${num eq vo.currPage} ? active : ''" 
													class="page-item" style="cursor: pointer;">
													<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
												</li>
												<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
													<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</ul>
										</nav>
										<div></div>
									</div>
									<div class="d-md-flex justify-content-between align-items-center px-6 py-6">
										<div class="d-flex flex-column flex-md-row gap-2">
											<a href="#" class="btn btn-danger" id="uelete"><i class="bi bi-trash3"></i></a>
											<a href="#" class="btn btn-danger" id="delete"><i class="bi bi-x-lg"></i></a>
										</div>
										<div class="d-flex flex-column flex-md-row gap-2">
											<a href="#" class="btn btn-primary" id="excel"><i class="bi bi-table"></i></a>
											<a href="#" class="btn btn-info" id="modify">U</a>
											<button type="button" id="btnForm" class="btn btn-info"><i class="bi bi-plus-lg"></i></button>
										</div>
									</div>
								 </div>
							</div>
						</div>
					</div>
				</form>
			</main>
        </div>
        
      	<div th:replace="~{/xdm/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->
      	
      	<script type="text/javascript">
      		let seq = document.querySelector("input[name=gSeq]");
      	
			let fom = document.querySelector("form[name=formList]");
			let goUrlXdmList = "/xdm/game/GameXdmList";
			let goUrlXdmForm = "/xdm/game/GameXdmForm";
			
			function goList(currPage) {
	 			document.querySelector("input[name=currPage]").value = currPage;
	 			fom.action = goUrlXdmList;
	 			fom.submit();
			}
			
			goForm = function (keyValue) {
			    seq.value = keyValue;
			    fom.action = goUrlXdmForm;
			    fom.submit();
			}
			
	      	document.getElementById("btnSearch").onclick = function () {
	      		fom.action = goUrlXdmList;
	      		fom.submit();
			};
			
			document.getElementById("changeRowNum").onchange = function () {
			    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
			    fom.action = goUrlXdmList;
			    fom.submit();
			}
			
			document.getElementById("btnForm").onclick = function () {
			    goForm(0);
			}
		</script>
		
      	<script type="text/javascript">
			document.getElementById("checkAll").onclick = function() {
				allCheck("check", this.checked);
			}
			
			function allCheck(name, isChecked) {
				const element = document.getElementsByName(name);
				
				for(let i = 0; i < element.length; i++) {          
					if(!element[i].disabled) {
						element[i].checked = isChecked;	
					}
				}
			}
			
			function getSelectedElementsCnt(name) {
				// 선택된 목록의 갯수 세기
				return document.querySelectorAll('input[name="' + name + '"]:checked').length;
			}
			
			document.getElementById("modify").onclick = function() {
				const selectedElementsCnt = getSelectedElementsCnt("check");
				
				if (selectedElementsCnt == 0) {
					return;
				}
				
				if (selectedElementsCnt > 1) {
					alert("1개의 코드 그룹만 선택해 주세요.");
					return;
				}
				
				// TODO: id seq로 해당 데이터 수정 폼 열기
			}
			
			document.getElementById("delete").onclick = function() {
				const selectedElementsCnt = getSelectedElementsCnt("check");
				
				if (selectedElementsCnt == 0) {
					return;
				}
				
				if (!confirm("선택한 " + selectedElementsCnt + "개의 코드 그룹을 전부 삭제하시겠습니까?")) {
					return false;
				}
			}
			
			document.getElementById("uelete").onclick = function() {
				const selectedElementsCnt = getSelectedElementsCnt("check");
				
				if (selectedElementsCnt == 0) {
					return;
				}
				
				if (!confirm("선택한 " + selectedElementsCnt + "개의 코드 그룹을 전부 삭제하시겠습니까?(업데이트)")) {
					return false;
				}
			}
		</script>
	
   	</body>
</html>
