<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodo.module.codegroup.CodeGroupDao">
	<resultMap id="resultMapObj" type="com.dodo.module.codegroup.CodeGroupDto"></resultMap>

	<!-- 공통 구문 selectCommon으로 선언 -->
	<sql id="selectCommon">
		FROM 
			codeGroup a
		WHERE 1=1
	</sql>
	
	<sql id="selectCommonColumn">
		a.cgSeq,
	    a.cgName,
	    a.cgNameEng,
	    a.cgSequence,
	    a.cgDescription,
	    a.cgRegiDate,
	    a.cgUpdtDate,
	    a.cgUseNy,
	    (SELECT COUNT(b.cSeq)
	    	FROM code b
	    	WHERE 1=1 
	    		AND b.cDelNy = 0 
	    		AND b.codeGroup_cgSeq = a.cgSeq
	    ) as cCount
	</sql>
	<!-- End -->
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		<include refid="selectCommon"/>
			AND a.cgDelNy=0
		ORDER BY a.cgSeq DESC
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
		<!-- 위와 동일 코드 LIMIT #{startRnumForMysql}, #{rowNumToShow} -->
	</select>
	
	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		<include refid="selectCommon"/>
			AND a.cgDelNy=0
		ORDER BY a.cgSeq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		<include refid="selectCommon"/>
		AND a.cgSeq=#{cgSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO codeGroup
		(
		    cgName,
		    cgNameEng,
		    cgSequence,
		    cgDescription,
		    cgUseNy,
		    cgRegiDate,
		    cgDelNy
		)
		VALUES
		(
		    #{cgName},
		    #{cgNameEng},
		    #{cgSequence},
		    #{cgDescription},
		    #{cgUseNy},
		    now(),
		    0
		)
		
		<selectKey resultType="String" keyProperty="cgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE codeGroup
		SET
			cgName=#{cgName},
			cgNameEng=#{cgNameEng},
			cgSequence=#{cgSequence},
			cgDescription=#{cgDescription},
			cgUseNy=#{cgUseNy},
			cgUpdtDate=now()
		WHERE
			cgSeq=#{cgSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM codeGroup
		WHERE
			cgSeq=#{cgSeq}
	</delete>
	
	<update id="uelete">
		UPDATE codeGroup
		SET
			cgUpdtDate=now(),
			cgDelNy=1
		WHERE
			cgSeq=#{cgSeq}
	</update>
	
</mapper>