<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodo.module.file.FileDao">
	<resultMap id="resultMapObj" type="com.dodo.module.file.FileDto"></resultMap>

	<insert id="insertFile">
		INSERT INTO ${fDbTableName} (
			fPath,
			fFileName,
			fUuidName,
			fExt,
			fSize,
			rSeq
		) values (
			#{fPath},
			#{fFileName},
			#{fUuidName},
			#{fExt},
			#{fSize},
			#{rSeq}
		)
	</insert>
	
	<update id="updateFile">
		UPDATE ${fDbTableName}
		SET
			#{fExt},
			#{fSize}
		WHERE
			fSeq=#{fSeq}
	</update>
	
</mapper>