<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodo.module.game.GameDao">
	<resultMap id="resultMapObj" type="com.dodo.module.game.GameDto"></resultMap>

	<!-- 공통 구문 selectCommon으로 선언 -->
	<sql id="selectCommon">
		FROM 
			game a
		WHERE 1=1
       		<if test="shDelNy != null and !shDelNy.equals('')">AND a.gDelNy = #{shDelNy}</if> 				
			<choose>
				<when test="shOptionDate != null and !shOptionDate.equals('')
					and shOptionDate == 1
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.gRegiDate BETWEEN #{shDateStart} AND #{shDateEnd}
				</when>
				<when test="shOptionDate != null and !shOptionDate.equals('')
					and shOptionDate == 2
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.gUpdtDate BETWEEN #{shDateStart} AND #{shDateEnd}
				</when>
			</choose>	
			<if test="shMinLevel != null and !shMinLevel.equals('')">AND a.gLevel >= #{shMinLevel}</if>	
			<if test="shMaxLevel != null and !shMaxLevel.equals('')">AND #{shMaxLevel} >= a.gLevel</if>	
			<if test="shMinScoreAvg != null and !shMinScoreAvg.equals('')">AND a.rScoreAvg >= #{shMinScoreAvg}</if>	
			<if test="shMaxScoreAvg != null and !shMaxScoreAvg.equals('')">AND #{shMaxScoreAvg} >= a.rScoreAvg</if>	
			<if test="shMinPeople != null and !shMinPeople.equals('')">AND a.gMinPeople >= #{shMinPeople}</if>	
			<if test="shMaxPeople != null and !shMaxPeople.equals('')">AND #{shMaxPeople} >= a.gMaxPeople</if>			
	        <if test="shUseAge != null and !shUseAge.equals('')">AND a.gUseAge >= #{shUseAge}</if>
	        <if test="shMinTime != null and !shMinTime.equals('')">AND a.gMinTime >= #{shMinTime}</if>	
			<if test="shMaxTime != null and !shMaxTime.equals('')">AND #{shMaxTime} >= a.gMaxTime</if>
			<if test="shOfficial != null and !shOfficial.equals('')">AND a.gOfficialCd = #{shOfficial}</if> 	
	        <choose>
	            <when test="shOption == 1">AND a.gSeq = #{shValue}</when>
	            <when test="shOption == 2">AND a.gName LIKE CONCAT('%',#{shValue},'%')</when>
	            <when test="shOption == 3">AND a.gBestPeople = #{shValue}</when>
	            <when test="shOption == 4">AND a.ggRecommendPeople = #{shValue}</when>
	        </choose>
		ORDER BY a.gSeq DESC
	</sql>
	
	<sql id="selectCommonColumn">
		a.gSeq,
	    a.gName,
	    a.gTnFileName,
	    a.gLevel,
	    a.gMinPeople,
	    a.gMaxPeople,
	    a.gBestPeople,
	    a.gRecommendPeople,
	    a.gUseAge,
	    a.gMinTime,
	    a.gMaxTime,
	    a.gOfficialCd,
	    a.gOfficialUrl,
	    a.gComuUrl1,
	    a.gComuUrl2,
	    a.gRegiDate,
	    a.gUpdtDate,
	    (SELECT IFNULL(AVG(b.rScore),0)
			FROM review b
			WHERE 1=1 
				AND b.rDelNy = 0 
				AND b.game_gSeq = a.gSeq
	    ) as rScoreAvg
	</sql>
	<!-- End -->
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		<include refid="selectCommon"/>
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
		<!-- 위와 동일 코드 LIMIT #{startRnumForMysql}, #{rowNumToShow} -->
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		FROM 
			game a
		WHERE 1=1
			AND a.gSeq=#{gSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO game
		(
		    gName,
		    gTnFileName,
		    gLevel,
		    gMinPeople,
		    gMaxPeople,
		    gBestPeople,
		    gRecommendPeople,
		    gUseAge,
		    gMinTime,
		    gMaxTime,
		    gOfficialCd,
		    gOfficialUrl,
		    gComuUrl1,
		    gComuUrl2,
		    gRegiDate,
			gDelNy	
		)
		VALUES
		(
			#{gName},
		    #{gTnFileName},
		    #{gLevel},
		    #{gMinPeople},
		    #{gMaxPeople},
		    #{gBestPeople},
		    #{gRecommendPeople},
		    #{gUseAge},
		    #{gMinTime},
		    #{gMaxTime},
		    #{gOfficialCd},
		    #{gOfficialUrl},
		    #{gComuUrl1},
		    #{gComuUrl2},
		   	now(),
		    0
		)
		
		<selectKey resultType="String" keyProperty="gSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE game
		SET
			gName=#{gName},
		    gTnFileName=#{gTnFileName},
		    gLevel=#{gLevel},
		    gMinPeople=#{gMinPeople},
		    gMaxPeople=#{gMaxPeople},
		    gBestPeople=#{gBestPeople},
		    gRecommendPeople=#{gRecommendPeople},
		    gUseAge=#{gUseAge},
		    gMinTime=#{gMinTime},
		    gMaxTime=#{gMaxTime},
		    gOfficialCd=#{gOfficialCd},
		    gOfficialUrl=#{gOfficialUrl},
		    gComuUrl1=#{gComuUrl1},
		    gComuUrl2=#{gComuUrl2},
		    gUpdtDate=now()
		WHERE
			gSeq=#{gSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM game
		WHERE
			gSeq=#{gSeq}
	</delete>
	
	<update id="uelete">
		UPDATE game
		SET
			gUpdtDate=now(),
			gDelNy=1
		WHERE
			gSeq=#{gSeq}
	</update>
	
</mapper>