<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodo.module.game.GameDao">
	<resultMap id="resultMapObj" type="com.dodo.module.game.GameDto"></resultMap>
	<resultMap id="resultMapObj_GR" type="com.dodo.module.game.GameReviewDto"></resultMap>

	<!-- 공통 구문 selectCommon으로 선언 -->
	<sql id="selectCommon">
		FROM 
			game a
		WHERE 1=1
       		<if test="shDelNy != null and !shDelNy.equals('')">AND a.gDelNy = #{shDelNy}</if> 				
			<choose>
				<when test="shOptionDate != null and !shOptionDate.equals('')
					and shOptionDate == 1
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.gRegiDate BETWEEN #{shDateStartDB} AND #{shDateEndDB}
				</when>
				<when test="shOptionDate != null and !shOptionDate.equals('')
					and shOptionDate == 2
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.gUpdtDate BETWEEN #{shDateStartDB} AND #{shDateEndDB}
				</when>
			</choose>
			<if test="shCategoryCd != null and !shCategoryCd.equals('')">AND a.gCategoryCd = #{shCategoryCd}</if>
			<if test="shOfficialCd != null and !shOfficialCd.equals('')">AND a.gOfficialCd = #{shOfficialCd}</if>	
	        <if test="shUseAge != null and !shUseAge.equals('')">AND a.gUseAge >= #{shUseAge}</if>			
			<if test="shPeople != null and !shPeople.equals('')">AND #{shPeople} >= a.gMinPeople AND a.gMaxPeople >= #{shPeople}</if>			
	        <if test="shTime != null and !shTime.equals('')">AND #{shTime} >= a.gMinTime AND a.gMaxTime >= #{shTime}</if>				
			<if test="shMinLevel != null and !shMinLevel.equals('')">AND a.gLevel >= #{shMinLevel}</if>	
			<if test="shMaxLevel != null and !shMaxLevel.equals('')">AND #{shMaxLevel} >= a.gLevel</if>	
			<if test="shMinScoreAvg != null and !shMinScoreAvg.equals('')">AND a.rScoreAvg >= #{shMinScoreAvg}</if>	
			<if test="shMaxScoreAvg != null and !shMaxScoreAvg.equals('')">AND #{shMaxScoreAvg} >= a.rScoreAvg</if>		
	        <choose>
	            <when test="shOption == 1">AND a.gSeq = #{shValue}</when>
	            <when test="shOption == 2">AND a.gName LIKE CONCAT('%',#{shValue},'%')</when>
	            <when test="shOption == 3">AND a.gBestPeople = #{shValue}</when>
	            <when test="shOption == 4">AND a.ggRecommendPeople = #{shValue}</when>
	        </choose>
	</sql>
	
	<sql id="selectCommonColumn">
		a.gSeq,
	    a.gName,
	    a.gLevel,
	    a.gMinPeople,
	    a.gMaxPeople,
	    a.gBestPeople,
	    a.gRecommendPeople,
	    a.gUseAge,
	    a.gMinTime,
	    a.gMaxTime,
	    a.gOfficialCd,
	    a.gOfficialUrl,
	    a.gComuUrl1,
	    a.gComuUrl2,
	    a.gCategoryCd,
	    a.gGDName,
	    a.gGAAName,
	    a.gGPName,
	    a.gRegiDate,
	    a.gUpdtDate,
	    (SELECT IFNULL(AVG(b.rScore),0)
			FROM gameReview b
			WHERE 1=1 
				AND b.rDelNy = 0 
				AND b.game_gSeq = a.gSeq
	    ) as rScoreAvg,
	    (SELECT COUNT(*) FROM gameReview b
			WHERE 1=1 
				AND b.rDelNy = 0 
				AND b.game_gSeq = a.gSeq
		) as rCount,
		(SELECT c.fPath
			FROM gameSmallTnFile c
			WHERE 1=1 
				AND a.gSeq = c.rSeq
	    ) as fPath
	</sql>
	<!-- End -->
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
		ORDER BY a.gSeq DESC
	</select>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		<include refid="selectCommon"/>
		ORDER BY a.gSeq DESC
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
	
	<select id="selectReviewOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM 
			gameReview a
			LEFT JOIN game b ON a.game_gSeq = b.gSeq
			LEFT JOIN member c ON a.member_mSeq = c.mSeq
		WHERE 1=1
       		<if test="shDelNy != null and !shDelNy.equals('')">AND a.grDelNy = #{shDelNy}</if> 				
			<choose>
				<when test="shOptionDate != null and !shOptionDate.equals('')
					and shOptionDate == 1
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.grRegiDate BETWEEN #{shDateStartDB} AND #{shDateEndDB}
				</when>
			</choose>	
	        <choose>
	            <when test="shOption == 1">AND a.grSeq = #{shValue}</when>
	            <when test="shOption == 2">AND b.gSeq = #{shValue}</when>
	            <when test="shOption == 3">AND b.gName LIKE CONCAT('%',#{shValue},'%')</when>
	            <when test="shOption == 4">AND c.mSeq = #{shValue}</when>
	            <when test="shOption == 5">AND c.mId LIKE CONCAT('%',#{shValue},'%')</when>
	            <when test="shOption == 6">AND c.mName LIKE CONCAT('%',#{shValue},'%')</when>
	            
	        </choose>
		ORDER BY a.grSeq DESC
	</select>
	
	<select id="selectTop10List" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		<include refid="selectCommon"/>
		ORDER BY rScoreAvg DESC LIMIT 0, 10
	</select>
	
	<select id="selectOrderList" resultMap="resultMapObj">
		SELECT
			a.gSeq,
        	ROW_NUMBER() OVER(
        		ORDER BY 
					(SELECT IFNULL(AVG(b.rScore), 0)
				FROM gameReview b
				WHERE 1=1 
					AND b.rDelNy = 0 
					AND b.game_gSeq = a.gSeq
		    ) 
	        DESC) rOrder
		FROM 
			game a
		WHERE 1=1
       		 AND a.gDelNy = 0  
		ORDER BY rOrder
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		FROM 
			game a
		WHERE 1=1
			AND a.gSeq=#{gSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO game
		(
		    gName,
		    gLevel,
		    gMinPeople,
		    gMaxPeople,
		    gBestPeople,
		    gRecommendPeople,
		    gUseAge,
		    gMinTime,
		    gMaxTime,
		    gOfficialCd,
		    gOfficialUrl,
		    gComuUrl1,
		    gComuUrl2,
		    gCategoryCd,
		    gGDName,
		    gGAAName,
		    gGPName,
		    gRegiDate,
			gDelNy	
		)
		VALUES
		(
			#{gName},
		    #{gLevel},
		    #{gMinPeople},
		    #{gMaxPeople},
		    #{gBestPeople},
		    #{gRecommendPeople},
		    #{gUseAge},
		    #{gMinTime},
		    #{gMaxTime},
		    #{gOfficialCd},
		    #{gOfficialUrl},
		    #{gComuUrl1},
		    #{gComuUrl2},
		    #{gCategoryCd},
		    #{gGDName},
		    #{gGAAName},
		    #{gGPName},
		   	now(),
		    0
		)
		
		<selectKey resultType="String" keyProperty="gSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE game
		SET
			gName=#{gName},
		    gLevel=#{gLevel},
		    gMinPeople=#{gMinPeople},
		    gMaxPeople=#{gMaxPeople},
		    gBestPeople=#{gBestPeople},
		    gRecommendPeople=#{gRecommendPeople},
		    gUseAge=#{gUseAge},
		    gMinTime=#{gMinTime},
		    gMaxTime=#{gMaxTime},
		    gOfficialCd=#{gOfficialCd},
		    gOfficialUrl=#{gOfficialUrl},
		    gComuUrl1=#{gComuUrl1},
		    gComuUrl2=#{gComuUrl2},
		    gCategoryCd=#{gCategoryCd},
		    gGDName=#{gGDName},
		    gGAAName=#{gGAAName},
		    gGPName=#{gGPName},
		    gUpdtDate=now()
		WHERE
			gSeq=#{gSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM game
		WHERE
			gSeq=#{gSeq}
	</delete>
	
	<update id="uelete">
		UPDATE game
		SET
			gUpdtDate=now(),
			gDelNy=1
		WHERE
			gSeq=#{gSeq}
	</update>
	
	<delete id="listDelete" parameterType="java.util.List">
		DELETE FROM game
		<where>
			<foreach collection="list" item="item" separator="or" open="" close="">
				(gSeq=#{item})
			</foreach>
		</where>
	</delete>
	
	<delete id="listUelete" parameterType="java.util.List">
		UPDATE game
		SET
			gUpdtDate=now(),
			gDelNy=1
		<where> 
			<foreach collection="list" item="item" separator="or" open="" close="">
				(gSeq=#{item})
			</foreach>
		</where>
	</delete>
	
</mapper>