<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<section class="mt-8">
		<div class="container">
			<div class="hero-slider">
				<a href="https://brand.naver.com/asmodeekorea/products/11519633055" target="_blank">
					<div style="background: url(/assets/usr/template/FreshCart-1.4.0/images/slider/slide-1.png) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
						<div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
							<h2 class="text-dark display-5 fw-bold mt-4">&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</h2>
						</div>
					</div>
				</a>
				<a href="http://s.godo.kr/2nqfa" target="_blank">
					<div style="background: url(/assets/usr/template/FreshCart-1.4.0/images/slider/slide-2.png) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
						<div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
							<h2 class="text-dark display-5 fw-bold mt-4">&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</h2>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<!-- Popular Products Start-->
	<section class="my-lg-14 my-8">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-6">
					<h3 class="mb-0">실시간 인기 게임</h3>
				</div>
			</div>
			
			<div id="popularRefresh" th:fragment="popularRefresh">
				<div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
					<div th:if="${#lists.isEmpty(gameList)}" class="col">
						데이터가 없습니다.
					</div>
					<div th:if="${!#lists.isEmpty(gameList)}" class="col" th:each="list : ${gameList}">
						<div class="card card-product">
							<div class="card-body">
								<div class="text-center position-relative">
									<a href="javascript:void(0);"
										th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|">
										<img th:if="${list?.fPath eq null or #strings.trim(list?.fPath) eq ''}" 
											class="mb-3 img-fluid" 
											src="/assets/usr/template/FreshCart-1.4.0/images/products/placeholder-img.jpg" />
										<img th:if="${list?.fPath ne null and #strings.trim(list?.fPath) ne ''}" 
											class="mb-3 img-fluid" th:src="${list?.fPath}" />
									</a>
	
									<div class="card-product-action">
										<a th:if="${list?.mhCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goHoldR(true, '${list.gSeq}')|" class="btn-action"
											data-bs-toggle="tooltip" title="보유 게임 등록"><i class="bi bi-emoji-smile"></i></a>
										<a th:unless="${list?.mhCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goHold(false, '${list.gSeq}')|" class="btn-action"
											data-bs-toggle="tooltip" title="보유 게임 삭제"><i class="bi bi-emoji-smile-fill"></i></a>
										<a th:if="${list?.mwCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goWish(true, '${list.gSeq}')|" class="btn-action"
											data-bs-toggle="tooltip" title="위시리스트 등록"><i class="bi bi-heart"></i></a>
										<a th:unless="${list?.mwCount == 0}" href="javascript:void(0);"
											th:attr="onclick=|goWish(false, '${list.gSeq}')|" class="btn-action"
											data-bs-toggle="tooltip" title="위시리스트 삭제"><i class="bi bi-heart-fill"></i></a>
										<a href="./usedgame-shopping.html" class="btn-action"><i class="bi bi-cart" 
											data-bs-toggle="tooltip" title="중고 구매"></i></a> <!-- TODO!!!!!!!!!!!!!!!!!!!! -->
									</div>
								</div>
								<div class="text-small mb-1">
									<small class="text-muted" th:text="${@codeService.selectOneCachedCode(list?.gCategoryCd)}"></small>
								</div>
								<h2 class="fs-6">
									<a class="text-inherit text-decoration-none" href="javascript:void(0);" th:text="${list?.gName}"
										th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|"></a>
								</h2>
								<div>
									<span class="small">
										<i class="bi bi-reception-4" data-bs-toggle="tooltip" title="난이도"></i>
										<span th:text="${list?.gLevel}"></span>&nbsp;&nbsp;
										<i class="bi bi-person" data-bs-toggle="tooltip" title="인원"></i>
										<span th:if="${list?.gMinPeople eq list?.gMaxPeople}"
											th:text="${list?.gMinPeople + '인'}"></span>
										<span th:unless="${list?.gMinPeople eq list?.gMaxPeople}"
											th:text="${list?.gMinPeople + '-' + list?.gMaxPeople + '인'}"></span>&nbsp;&nbsp;
										<i class="bi bi-alarm" data-bs-toggle="tooltip" title="소요시간"></i>
										<span th:if="${list?.gMinTime eq list?.gMaxTime}" 
											th:text="${list?.gMinTime + '분'}"></span>
										<span th:unless="${list?.gMinTime eq list?.gMaxTime}"
											th:text="${list?.gMinTime + '-' + list?.gMaxTime + '분'}"></span>
									</span>
								</div>
								<div>
									<span>
										<small class="text-warning">
											<i th:unless="${list?.fillStarCount eq 0}" 
												th:each="i : ${#numbers.sequence(0, list?.fillStarCount - 1)}"
												class="bi bi-star-fill"></i><i th:unless="${list?.harfStarCount eq 0}"  
												th:each="i : ${#numbers.sequence(0, list?.harfStarCount - 1)}" 
												class="bi bi-star-half"></i><i th:unless="${list?.emptyStarCount eq 0}"   
												th:each="i : ${#numbers.sequence(0, list?.emptyStarCount - 1)}"
												class="bi bi-star"></i><i th:if="${list?.emptyStarCount eq 0 
												and list?.harfStarCount eq 0 
												and list?.fillStarCount eq 0}"   
												th:each="i : ${#numbers.sequence(0, 4)}"
												class="bi bi-star"></i>
										</small>
										<span class="text-muted small" th:text="${list?.grScoreAvg + ' (' + @doDoUtil.formatNumberComma(list?.grCount) + ')'}"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Popular Products End-->
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- Sales/Wish/Hold -->
<script type="text/javascript">
	function goWish(bWish, rgSeq) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		var wishUrl;
		if (bWish) {
			wishUrl = "/usr/member/MemberWishUsrInstByGameDetailRelation";
		} else {
			wishUrl = "/usr/member/MemberWishUsrDeleByGameDetailRelation";
		}
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: wishUrl
			,traditional: true
			,data : {
				"rgSeq" : rgSeq,
				"gSeq" : $("#gSeq").val(),
				"mSeq" : $("#mSeq").val(),
				"gCategoryCd" : $("#gCategoryCd").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					disposeAllTooltips();
					$('#relationRefresh').replaceWith(fragmentHtml);
					refreshTooltipsAndTitles();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function goHold(bHold, rgSeq) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		var holdUrl;
		if (bHold) {
			holdUrl = "/usr/member/MemberHoldUsrInstByGameDetailRelation";
		} else {
			holdUrl = "/usr/member/MemberHoldUsrDeleByGameDetailRelation";
		}
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: holdUrl
			,traditional: true
			,data : {
				"rgSeq" : rgSeq,
				"gSeq" : $("#gSeq").val(),
				"mSeq" : $("#mSeq").val(),
				"gCategoryCd" : $("#gCategoryCd").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					disposeAllTooltips();
					$('#relationRefresh').replaceWith(fragmentHtml);
					refreshTooltipsAndTitles();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	//TODO: 중고구매 안되있음 (게임 디테일도), xdm 중고 거래 관리 넣기
	function goSales(bSales, rgSeq) {
		var mSeq = document.getElementById("mSeq").value;
		if (mSeq == null || mSeq == "") {
			showModalMoveLoginConfirm("확인", "로그인 후 이용해 주세요. 로그인 화면으로 이동하시겠습니까?"); 
			return false;
		}
		
		var holdUrl;
		if (bHold) {
			holdUrl = "/usr/member/MemberHoldUsrInstByGameDetailRelation";
		} else {
			holdUrl = "/usr/member/MemberHoldUsrDeleByGameDetailRelation";
		}
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: holdUrl
			,traditional: true
			,data : {
				"rgSeq" : rgSeq,
				"gSeq" : $("#gSeq").val(),
				"mSeq" : $("#mSeq").val(),
				"gCategoryCd" : $("#gCategoryCd").val()
			}
			,success: function(fragmentHtml) {
				if (fragmentHtml != null && fragmentHtml != "") {
					// fragmentHtml은 렌더링된 HTML fragment
					disposeAllTooltips();
					$('#relationRefresh').replaceWith(fragmentHtml);
					refreshTooltipsAndTitles();
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
</script>

</body>