<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{/usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<section class="mt-8">
		<div class="container">
			<div class="hero-slider">
				<a href="https://brand.naver.com/asmodeekorea/products/11519633055" target="_blank">
					<div style="background: url(/assets/usr/template/FreshCart-1.4.0/images/slider/slide-1.png) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
						<div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
							<h2 class="text-dark display-5 fw-bold mt-4">&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</h2>
						</div>
					</div>
				</a>
				<a href="http://s.godo.kr/2nqfa" target="_blank">
					<div style="background: url(/assets/usr/template/FreshCart-1.4.0/images/slider/slide-2.png) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
						<div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
							<h2 class="text-dark display-5 fw-bold mt-4">&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</h2>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>

	<!-- Category Section Start-->
	<section class="mb-lg-10 mt-lg-14 my-8">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-6">
					<h3 class="mb-0">주요 카테고리</h3>
				</div>
			</div>
			<div class="category-slider">
				<div class="item">
					<a href="./pages/boardgame-info-grid.html" class="text-decoration-none text-inherit">
						<div class="card card-product mb-lg-4">
							<div class="card-body text-center py-8">
								<img src="/assets/usr/template/FreshCart-1.4.0/images/category/category-1.jpg"
									alt="Grocery Ecommerce Template" class="mb-3 img-fluid" />
								<div class="text-truncate">전략</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="./pages/boardgame-info-grid.html" class="text-decoration-none text-inherit">
						<div class="card card-product mb-lg-4">
							<div class="card-body text-center py-8">
								<img src="/assets/usr/template/FreshCart-1.4.0/images/category/category-2.jpg"
									alt="Grocery Ecommerce Template" class="mb-3" />
								<div class="text-truncate">추상</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="./pages/boardgame-info-grid.html" class="text-decoration-none text-inherit">
						<div class="card card-product mb-lg-4">
							<div class="card-body text-center py-8">
								<img src="/assets/usr/template/FreshCart-1.4.0/images/category/category-3.jpg"
									alt="Grocery Ecommerce Template" class="mb-3" />
								<div class="text-truncate">컬렉터블</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="./pages/boardgame-info-grid.html" class="text-decoration-none text-inherit">
						<div class="card card-product mb-lg-4">
							<div class="card-body text-center py-8">
								<img src="/assets/usr/template/FreshCart-1.4.0/images/category/category-4.jpg"
									alt="Grocery Ecommerce Template" class="mb-3" />
								<div class="text-truncate">가족</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="./pages/boardgame-info-grid.html" class="text-decoration-none text-inherit">
						<div class="card card-product mb-lg-4">
							<div class="card-body text-center py-8">
								<img src="/assets/usr/template/FreshCart-1.4.0/images/category/category-5.jpg"
									alt="Grocery Ecommerce Template" class="mb-3" />
								<div class="text-truncate">어린이</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="./pages/boardgame-info-grid.html" class="text-decoration-none text-inherit">
						<div class="card card-product mb-lg-4">
							<div class="card-body text-center py-8">
								<img src="/assets/usr/template/FreshCart-1.4.0/images/category/category-6.jpg"
									alt="Grocery Ecommerce Template" class="mb-3" />
								<div class="text-truncate">파티</div>
							</div>
						</div>
					</a>
				</div>

				<div class="item">
					<a href="./pages/boardgame-info-grid.html" class="text-decoration-none text-inherit">
						<div class="card card-product mb-lg-4">
							<div class="card-body text-center py-8">
								<img src="/assets/usr/template/FreshCart-1.4.0/images/category/category-7.jpg"
									alt="Grocery Ecommerce Template" class="mb-3" />
								<div class="text-truncate">테마</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="./pages/boardgame-info-grid.html" class="text-decoration-none text-inherit">
						<div class="card card-product mb-lg-4">
							<div class="card-body text-center py-8">
								<img src="/assets/usr/template/FreshCart-1.4.0/images/category/category-8.jpg"
									alt="Grocery Ecommerce Template" class="mb-3" />
								<div class="text-truncate">워게임</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Popular Products Start-->
	<section class="my-lg-14 my-8">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-6">
					<h3 class="mb-0">실시간 인기 게임</h3>
				</div>
			</div>

			<div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">1</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-1.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip" 
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart" 
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">추상</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">캘리코</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</small>
								<span class="text-muted small">9.87(2333)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">2</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-2.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">추상</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">캐스캐디아</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</small>
								<span class="text-muted small">9.2(1589)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">3</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-3.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">가족</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">크라스 카리어트</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</small>
								<span class="text-muted small">9.01(1322)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">4</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-4.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">추상</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">노바 루나</a></h2>	
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</small>
								<span class="text-muted small">8.97(899)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">5</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-5.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">가족</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">스페이스 크루</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</small>
								<span class="text-muted small">8.5(301)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">6</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-6.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">워게임</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">황혼의 투쟁</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
								</small>
								<span class="text-muted small">8.21(149)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">7</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-7.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">파티</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">텔레스트레이션</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star"></i>
								</small>
								<span class="text-muted small">7.9(999)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">8</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-8.jpg"
										class="mb-3 img-fluid" /></a>
								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">전략</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">가이아 프로젝트</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star"></i>
								</small>
								<span class="text-muted small">7.8(149)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">9</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-9.jpg"
										class="mb-3 img-fluid" /></a>
								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">전략</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">7 원더스 대결</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star"></i>
								</small>
								<span class="text-muted small">7.11(1561)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-product">
						<div class="card-body">
							<div class="text-center position-relative">
								<div class="position-absolute top-0 start-0">
									<span class="badge bg-danger">10</span>
								</div>
								<a href="./pages/boardgame-detail.html"><img src="/assets/usr/template/FreshCart-1.4.0/images/products/product-img-10.jpg"
										class="mb-3 img-fluid" /></a>

								<div class="card-product-action">
									<a href="./pages/myboardgame-holding-write.html" class="btn-action"><i class="bi bi-emoji-smile" data-bs-toggle="tooltip"
										data-bs-html="true" title="내 게임 등록"></i></a>
									<a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
										title="위시리스트 등록"><i class="bi bi-heart"></i></a>
									<a href="./pages/usedgame-shopping.html" class="btn-action"><i class="bi bi-cart"
										data-bs-toggle="tooltip" data-bs-html="true" title="중고 구매"></i></a>
								</div>
							</div>
							<div class="text-small mb-1">
								<small class="text-muted">추상</small>
							</div>
							<h2 class="fs-6"><a href="./pages/boardgame-detail.html"
									class="text-inherit text-decoration-none">아줄</a></h2>
							<div>
								<span class="small">
									<i class="bi bi-reception-4" data-bs-toggle="tooltip" data-bs-html="true" title="난이도"></i> 2.19&nbsp;&nbsp;
									<i class="bi bi-person" data-bs-toggle="tooltip" data-bs-html="true" title="인원"></i> 1-4&nbsp;&nbsp;
									<i class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-html="true" title="소요시간"></i> 30-45
								</span>
							</div>
							<div>
								<small class="text-warning">
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-half"></i>
									<i class="bi bi-star"></i>
								</small>
								<span class="text-muted small">6.89(149)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Popular Products End-->
</main>

<div th:replace="~{/usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

</body>