<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<section class="mt-8 mb-14">
		<div class="container">
			<div class="row">
 				<div class="col-lg-12">
    				<div class="mb-8">
						<h3 class="mb-1">보유 게임</h3>
					</div>
					<form name="formList" id="formList" method="post" autocomplete="off">
			
						<input type="hidden" name="currPage" th:value="${vo.currPage}" default="1"/>
						<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
						<input type="hidden" name="gSeq">
						<input type="hidden" name="gCategoryCd">
						<input type="hidden" name="redirectUrl" value="/usr/member/MemberHoldUsrList">
						<input type="hidden" id="mhSeq" name="mhSeq">
			
						<div class="col-md-12 text-center">
							<div class="card h-100 card-lg">
								
								<div th:replace="~{usr/include/totalAndRowNum :: totalAndRowNum}"></div> <!-- 중복되는 totalAndRowNum 처리 -->
								
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
											<thead class="bg-light">
												<tr>
													<th>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" id="checkAll" name="checkAll">
														</div>
													</th>
													<th></th>
													<th>게임명</th>
													<th>순위</th>
													<th>카테고리</th>
													<th>평점</th>
													<th>난이도</th>
													<th>인원</th>
													<th>소요시간<br>(분)</th>
													<th>슬리브</th>
													<th>코인</th>
													<th>메모</th>
													<th>수정</th>
													<th>삭제</th>
													<th>판매</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${#lists.isEmpty(holdList)}">
													<td class="text-center" colspan="15">
														데이터가 없습니다.
													</td>
												</tr> 
												<tr th:if="${!#lists.isEmpty(holdList)}" th:each="list : ${holdList}">
													<td>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" name="check" th:value="${list?.mhSeq}">
														</div>
													</td>
													<td>
														<a href="javascript:void(0);"
															th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|">
															<img th:if="${list?.fPath eq null or #strings.trim(list?.fPath) eq ''}" 
																class="icon-shape icon-xs" 
																src="/assets/usr/template/FreshCart-1.4.0/images/products/placeholder-img.jpg" />
															<img th:if="${list?.fPath ne null and #strings.trim(list?.fPath) ne ''}" 
																class="icon-shape icon-xs" th:src="${list?.fPath}" />
														</a>
													</td>
													<td>
														<a class="fw-bold text-inherit" href="javascript:void(0);" th:text="${list?.gName}"
															th:attr="onclick=|goDetail('${list.gSeq}', '${list.gCategoryCd}')|"></a>
													</td>
													<td th:text="${list.grOrder}"></td>
													<td th:text="${@codeService.selectOneCachedCode(list?.gCategoryCd)}"></td>
													<td th:text="${list?.grScoreAvg}"></td>	
													<td th:text="${list?.gLevel}"></td>
													<td th:if="${list?.gMinPeople eq list?.gMaxPeople}"
														th:text="${list?.gMinPeople}"></td>
													<td th:unless="${list?.gMinPeople eq list?.gMaxPeople}"
														th:text="${list?.gMinPeople + '-' + list?.gMaxPeople}"></td>		
													<td th:if="${list?.gMinTime eq list?.gMaxTime}"
														th:text="${list?.gMinTime}"></td>
													<td th:unless="${list?.gMinTime eq list?.gMaxTime}"
														th:text="${list?.gMinTime + '-' + list?.gMaxTime}"></td>	
													<td th:text="${list?.mhSleeve}"></td>	
													<td th:text="${list?.mhCoin}"></td>	
													<td>
														<span class="text-muted" data-bs-toggle="tooltip"
															data-bs-placement="top" th:title="${list?.mhMemo}">
															<i class="bi bi-chat-dots"></i>
														</span>
													</td>
													<td>
														<a href="javascript:void(0);" th:attr="onclick=|goForm('${list.mhSeq}')|"
															class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="수정">
															<i class="bi bi-pencil-square"></i>
														</a>
													</td>
													<td>
														<a href="javascript:void(0);" th:attr="onclick=|goHoldDelete('${list.mhSeq}')|"
															class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="삭제">
															<i class="bi bi-trash"></i>
														</a>
													</td>
													<td>
														<a href="#"
															class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="판매">
															<i class="bi bi-truck"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
								   	</div>
								</div>
							 </div>
							 <div class="row mt-8">
								<div class="col">
									<nav>
										<ul class="pagination mb-0">
											<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
												<a class="page-link" href="javascript:goList(${vo.startPage - 1})"
													th:attr="onclick=|goList('${vo.startPage - 1}')|">
													<span aria-hidden="true">&laquo;</span>
												</a>
											</li>
											<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" 
												th:classappend="${num eq vo.currPage} ? active : ''" 
												class="page-item" style="cursor: pointer;">
												<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
											</li>
											<li 	th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
												<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
													<span aria-hidden="true">&raquo;</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
								<div class="col" style="text-align: right; vertical-align: middle;">
									<button type="button" id="btnForm" class="btn btn-outline-primary">등록</button>&nbsp;
									<a href="#" class="btn btn-outline-secondary" id="modify">선택 수정</a>&nbsp;
									<a href="#" class="btn btn-outline-danger" id="delete">선택 삭제</a>&nbsp;
									<a href="#" class="btn btn-danger">선택 판매</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
  	let gSeq = document.querySelector("input[name=gSeq]");
  	let mhSeq = document.querySelector("input[name=mhSeq]");
  	let cate = document.querySelector("input[name=gCategoryCd]");
  	let redirectUrl = document.querySelector("input[name=redirectUrl]");
    	
	let fom = document.querySelector("form[name=formList]");
	let goUrlUsrList = "/usr/member/MemberHoldUsrList";
	let goUrlUsrForm = "/usr/member/MemberHoldUsrForm";
	let goUrlUsrDetail = "/usr/game/GameUsrDetail";
	let goUrlUsrListDeleProc = "/usr/member/MemberHoldListUsrDeleProc";
	
	function submit(goUrl) {
		fom.action = goUrl;
		fom.submit();
	}
</script>

<!-- 데이터 추가/수정 -->
<script type="text/javascript">
	// 데이터 추가
	document.getElementById("btnForm").onclick = function () {
	    goForm(0);
	}
	
	// 데이터 추가/수정
	goForm = function (keyValue) {
		mhSeq.value = keyValue;
	    submit(goUrlUsrForm);
	}
</script>

<!-- Move Page / Paging -->
<script type="text/javascript">
	function goDetail(keyValue1, keyValue2) {
		gSeq.value = keyValue1;
		cate.value = keyValue2;
		submit(goUrlUsrDetail);
	}

	function goList(currPage) {
		document.querySelector("input[name=currPage]").value = currPage;
		submit(goUrlUsrList);
	}
	
	document.getElementById("changeRowNum").onchange = function () {
	    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
	    submit(goUrlUsrList);
	}
</script>

<!-- Wish -->
<script type="text/javascript">
function goWishDelete(memberWishSeq) {
	mwSeq.value = memberWishSeq;
	submit("/usr/member/MemberHoldUsrDele");
}
</script>

<!-- Table Check Box 처리 (Delete)-->
<script type="text/javascript">
	document.getElementById("checkAll").onclick = function() {
		allCheck("check", this.checked);
	}
	
	document.getElementById("modify").onclick = function() {
		modifyCheckedElement("1개의 게임을");
	}
	
	document.getElementById("delete").onclick = function() {
		deleteCheckedElementsModalByUsr("게임을");
	}

	document.getElementById("btnModalDelete").onclick = function () {
		deleteCheckedElements(goUrlUsrListDeleProc, goUrlUsrList);
	}
</script>

</body>
</html>