<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
					<div class="pt-10 pe-lg-10">
						<ul class="nav flex-column nav-pills nav-pills-dark">
							<li class="nav-item">
								<ul class="nav flex-column nav-pills nav-pills-dark">
									<li class="nav-item">
										<a class="nav-link active" href="/usr/member/MemberUsrAccountForm">
											<i class="feather-icon icon-settings me-2"></i> 기본 정보 변경
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/usr/member/MemberUsrAccountPwdForm">
											<i class="feather-icon icon-key me-2"></i> 비밀번호 변경
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/usr/member/MemberUsrWithdrawal">
											<i class="feather-icon icon-user-x me-2"></i> 회원 탈퇴
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<hr />
							</li>
							<li class="nav-item">
								<a class="nav-link" id="btnSignOutAccount" href="javascript:void(0);">
									<i class="feather-icon icon-log-out me-2"></i> 로그아웃
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-8 col-12">
					<div class="py-6 p-md-6 p-lg-10">
						<div class="row mb-8">
							<div class="col-md-12">
								<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
									<h4>기본 정보 변경</h4>
								</div>
							</div>
						</div>
						<div class="row mb-8 g-5">
							<div class="col-lg-12 col-12">
								<div class="card card-lg border-0">
									<div class="card-body d-flex flex-column gap-8 p-8">
										<form class="row g-5 needs-validation" novalidate
											method="post" enctype="multipart/form-data" id="form" name="form">
											
											<input type="hidden" name="mSeq" id="mSeq" th:value="${memberItem?.mSeq}">
											<input type="hidden" id="mLatitude" name="mLatitude" th:value="${memberItem?.mLatitude}" />
											<input type="hidden" id="mLongitude" name="mLongitude" th:value="${memberItem?.mLongitude}" />
											
											<div class="col-lg-12 col-12">
												<label for="fUploadFiles" class="form-label">프로필 이미지</label>
												<div class="d-flex flex-column flex-md-row align-items-center mb-4 file-input-wrapper">
													<div>
														<img th:if="${memberPfFile?.fPath eq null or #strings.trim(memberPfFile?.fPath) eq ''}" 
															class="image avatar avatar-lg rounded-3" 
															src="/assets/usr/template/FreshCart-1.4.0/images/avatar/avatar.jpg"
															alt="Image" />
														<img th:if="${memberPfFile?.fPath ne null and #strings.trim(memberPfFile?.fPath) ne ''}" 
															class="image avatar avatar-lg rounded-3" 
															th:src="${memberPfFile?.fPath}"
															alt="Image" />
													</div>
													<div class="file-upload btn btn-light ms-md-4 mt-2">
														<input type="file" accept=".jpeg,.jpg,.png,.gif" name="fUploadFiles" id="fUploadFiles" class="file-input opacity-0" />
														파일 선택
													</div>
													<div class="ms-md-2 col-4">
														<input type="text" class="form-control mt-2" name="fFileName" id="fFileName" 
															th:value="${memberPfFile?.fFileName}" 
															placeholder="JPG, JPEG, GIF, PNG / 최대 2MB" readonly required />
														<div class="invalid-feedback"> 파일의 형식과 크기를 확인해 주세요. </div>
													</div>
												</div>
											</div>
											<div class="col-lg-7 col-12">
												<label for="mId" class="form-label">
													아이디
													<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control" name="mId" id="mId"
													th:value="${memberItem?.mId}" disabled />
											</div>
											<div class="col-lg-5 col-12"></div>
											<div class="col-lg-7 col-12">
												<label for="mName" class="form-label">
													이름
													<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control" name="mName" id="mName"
													autocomplete="off" th:value="${memberItem?.mName}" required />
												<div class="invalid-feedback"> 이름을 입력해 주세요. 한글/영문/숫자만 허용</div>
											</div>
											<div class="col-lg-5 col-12"></div>
											<div class="col-lg-7 col-12">
												<label for="mEmail" class="form-label">
													이메일
													<span class="text-danger">*</span>
												</label>
												<input type="email" class="form-control" id="mEmail" name="mEmail" 
													autocomplete="off" th:value="${memberItem?.mEmail}" required />
												<div class="invalid-feedback"> 이메일을 형식에 맞게 입력해 주세요. </div>
											</div>
											<div class="col-lg-5 col-12"></div>
											<div class="col-lg-7 col-12">
												<label for="mBirth" class="form-label">
													생년월일
													<span class="text-danger">*</span>
												</label>
		                                 			<input type="text" class="form-control" id="mBirth" name="mBirth" 
														th:value="${memberItem?.mBirth}" placeholder="예) 1999-01-01" readonly required />
												<div class="invalid-feedback"> 생년월일을 형식에 맞게 입력해 주세요. </div>
											</div>
											<div class="col-lg-5 col-12"></div>
											<div class="col-lg-7 col-12">
												<label for="mGender" class="form-label">성별</label>
												<select class="form-select" name="mGenderCd" id="mGenderCd">
													<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.MEMBER_CODE_GROUP_SEQ_GENDER)}"
														th:if="${#strings.equals(codeList.cSeq, 0)}"
														th:value="${codeList.cSeq}"
														th:selected="${memberItem?.mGenderCd} == ${codeList?.cSeq}">성별</option>
													<option th:each="codeList : ${@codeService.selectListCachedCode(@constants.MEMBER_CODE_GROUP_SEQ_GENDER)}"
														th:unless="${#strings.equals(codeList.cSeq, 0)}"
														th:value="${codeList.cSeq}" th:text="${codeList.cName}"
														th:selected="${memberItem?.mGenderCd} == ${codeList?.cSeq}"></option>
												</select>
											</div>
											<div class="col-lg-5 col-12"></div>
											<div class="col-lg-7 col-12">
												<label class="form-label">
													주소
													<span class="text-danger">*</span>
												</label>
												<div class="d-flex gap-2">
													<div>
			                                 			<input type="text" class="form-control" id="mPostcode" name="mPostcode" 
															th:value="${memberItem?.mPostcode}" placeholder="우편번호" readonly required />
														<div class="invalid-feedback"> 우편번호를 입력해 주세요. </div>
													</div>
													<div>
														<button class="btn btn-secondary" type="button" onclick="clickBtnPostcode()">우편번호 찾기</button>
													</div>
												</div>
												<div class="mt-2">
													<input type="text" class="form-control" id="mRoadAddress" name="mRoadAddress" 
														th:value="${memberItem?.mRoadAddress}" placeholder="도로명주소" readonly required />
													<div class="invalid-feedback"> 도로명 주소를 입력해 주세요. </div>
												</div>
												<div class="mt-2">
													<input type="text" class="form-control" id="mDetailAddress" name="mDetailAddress" 
														autocomplete="off" th:value="${memberItem?.mDetailAddress}" placeholder="상세주소" required />
													<div class="invalid-feedback"> 상세 주소를 입력해 주세요. </div>
												</div>
												<div class="mt-2" id="map" style="width:300px;height:300px;display:none"></div>
											</div>
											<div class="col-lg-5 col-12"></div>
											<div class="col-lg-7 col-12 d-grid">
												<button class="btn btn-primary" type="button" id="btnSave">저장</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
	// Input
	let fUploadFiles = document.getElementById("fUploadFiles");
	let fFileName = document.getElementById("fFileName");
	let mName = document.getElementById("mName");
	let mEmail = document.getElementById("mEmail");
	let mBirth = document.getElementById("mBirth");
	let mPostcode = document.getElementById("mPostcode");
	let mRoadAddress = document.getElementById("mRoadAddress");
	let mDetailAddress = document.getElementById("mDetailAddress");
</script>

<!-- 주소 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=73d5a4f6e79c017e97e6ec3b058999cd&libraries=services"></script>

<script type="text/javascript">
	var mapContainer = document.getElementById("map"), // 지도를 표시할 div
		mapOption = {
		    center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
		    level: 5 // 지도의 확대 레벨
		};	
	
	var map = new daum.maps.Map(mapContainer, mapOption); //지도를 미리 생성
	
	//마커를 미리 생성
	var marker = new daum.maps.Marker({
		position: new daum.maps.LatLng(37.537187, 127.005476),
		map: map
	});

    function clickBtnPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = data.address; // 최종 주소 변수
                var roadAddr = data.roadAddress; // 도로명 주소 변수

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                mPostcode.value = data.zonecode;
                mRoadAddress.value = roadAddr;
                
                // 위도, 경도값 가져오기
                var geocoder = new kakao.maps.services.Geocoder();

                geocoder.addressSearch(addr, function(results, status) {
                    if(status === daum.maps.services.Status.OK){
                    	var result = results[0]; //첫번째 결과의 값을 활용
                    	
                    	// 위도, 경도
                    	document.getElementById("mLongitude").value = result.x;
                    	document.getElementById("mLatitude").value = result.y;
                    	
                    	// 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                    	
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
                
                // 상세주소 초기화
                mDetailAddress.value = "";
                
                // Validation
                resetValidation(mPostcode);
                resetValidation(mRoadAddress);
                resetValidation(mDetailAddress);
                mPostcode.classList.add("is-valid");
                mRoadAddress.classList.add("is-valid");
            }
        }).open();
    }
</script>

<!-- Validation: Bootstrap -->
<script type="text/javascript">
	// btnSave 클릭시
	document.getElementById("btnSave").onclick = function() {
		var focus = false; // Validation 후 Focus 줘야 하는 Input
		
		// fUploadFiles, fFileName 체크
		resetValidation(fFileName);
		
		var file = fUploadFiles.files[0];
		
		// fUploadFiles이 빈값이나 null이면 허용하므로, 아닐때만 Validation
		if (file != null && file.name != null && file.name.trim() != ""
				&& fFileName.value != null && fFileName.value.trim() != "") {
			if (!imgFileValidation(file, fFileName)) {
				fFileName.classList.add("is-invalid");
				
				if (!focus) {
					fFileName.focus();
					focus = true;
				}
			} else {
				fFileName.classList.add("is-valid");
			}
		}
		
		// mName 체크
		resetValidation(mName);
		
		if (!strKorEngNumberValidation(mName)) {
			mName.classList.add("is-invalid");
			
			if (!focus) {
				mName.focus();
				focus = true;
			}
		} else {
			mName.classList.add("is-valid");
		}
		
		// mEmail 체크
		resetValidation(mEmail);
		
		if (!emailValidation(mEmail)) {
			mEmail.classList.add("is-invalid");
			
			if (!focus) {
				mEmail.focus();
				focus = true;
			}
		} else {
			mEmail.classList.add("is-valid");
		}
		
		// mBirth 체크
		resetValidation(mBirth);
		
		if (!dateValidation_yyyyMMdd(mBirth)) {
			mBirth.classList.add("is-invalid");
			
			if (!focus) {
				mBirth.focus();
				focus = true;
			}
		} else {
			mBirth.classList.add("is-valid");
		}
		
		// mPostcode 체크
		resetValidation(mPostcode);
		
		if (!strValidation(mPostcode)) {
			mPostcode.classList.add("is-invalid");
			
			if (!focus) {
				mPostcode.focus();
				focus = true;
			}
		} else {
			mPostcode.classList.add("is-valid");
		}
		
		// mRoadAddress 체크
		resetValidation(mRoadAddress);
		
		if (!strValidation(mRoadAddress)) {
			mRoadAddress.classList.add("is-invalid");
			
			if (!focus) {
				mRoadAddress.focus();
				focus = true;
			}
		} else {
			mRoadAddress.classList.add("is-valid");
		}
		
		// mDetailAddress 체크
		resetValidation(mDetailAddress);
		
		if (!strValidation(mDetailAddress)) {
			mDetailAddress.classList.add("is-invalid");
			
			if (!focus) {
				mDetailAddress.focus();
				focus = true;
			}
		} else {
			mDetailAddress.classList.add("is-valid");
		}
		
		// Alert/Modal과 달리 모든  Input창을 한번에 확인해야 하므로 return false 시
		// Focus 줘야 하는 Input(Validation에 처음으로 걸린 Input)이 있는지 확인
		if (focus) return false;

		mName.value = mName.value.trim();
		mEmail.value = mEmail.value.trim();
		mDetailAddress.value = mDetailAddress.value.trim();
		
		setAccount();
	}
	
	// fUploadFiles, fFileName Change 시 체크
	fUploadFiles.addEventListener("change", function() {
		resetValidation(fFileName);
		
		var file = fUploadFiles.files[0];
		
		// fUploadFiles이 빈값이나 null이면 허용하므로 리턴
		if (file == null 
				|| (file != null && file.name == null)
				|| (file != null && file.name != null && file.name.trim() == "")) return;
		
		// 선택한 파일명 gTnFileName에 보여주기
		fFileName.value = file.name.trim();
		
		// gTnFileName이 빈값이나 null이면 허용하므로 리턴
		if (fFileName.value == null
				|| (fFileName.value != null && fFileName.value.trim() == "")) return;
		
		// Validation
		if (!imgFileValidation(file, fFileName)) {
			fFileName.classList.add("is-invalid");
		} else {
			fFileName.classList.add("is-valid");
		}
	});
	
	// mName Input 시 체크
	mName.addEventListener("input", function(){
		resetValidation(mName);
		
		if (!strKorEngNumberValidation(mName)) {
			mName.classList.add("is-invalid");
		} else {
			mName.classList.add("is-valid");
		}	
	});
	
	// mEmail Input 시 체크
	mEmail.addEventListener("input", function(){
		resetValidation(mEmail);
		
		if (!emailValidation(mEmail)) {
			mEmail.classList.add("is-invalid");
		} else {
			mEmail.classList.add("is-valid");
		}	
	});
	
	// mBirth Input 시 체크
	mBirth.addEventListener("input", function(){
		resetValidation(mBirth);
		
		if (!dateValidation_yyyyMMdd(mBirth)) {
			mBirth.classList.add("is-invalid");
		} else {
			mBirth.classList.add("is-valid");
		}	
	});
	
	// mDetailAddress Input 시 체크
	mDetailAddress.addEventListener("input", function(){
		resetValidation(mDetailAddress);
		
		if (!strValidation(mDetailAddress)) {
			mDetailAddress.classList.add("is-invalid");
		} else {
			mDetailAddress.classList.add("is-valid");
		}	
	});
	
	function setAccount() {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/member/MemberUsrUpdt"
			,data : {
				"mSeq" : $("#mSeq").val(),
				"mName" : $("#mName").val(),
				"mEmail" : $("#mEmail").val(), 
				"mBirth" : $("#mBirth").val(),
				"mGenderCd" : $("#mGenderCd").val(), 
				"fFileName" : $("#fFileName").val(),
				"mGradeCd" : $("#mGradeCd").val(),
				"mPostcode" : $("#mPostcode").val(),
				"mRoadAddress" : $("#mRoadAddress").val(),
				"mDetailAddress" : $("#mDetailAddress").val(),
				"mLatitude" : $("#mLatitude").val(),
				"mLongitude" : $("#mLongitude").val()
			}
			,success: function(response) {
				if (response.rt == "success") {
					setProfileFileUpload();
				} else {
					resetValidation(mName);
					resetValidation(mEmail);
					resetValidation(mBirth);
					resetValidation(fFileName);
					resetValidation(mPostcode);
	                resetValidation(mRoadAddress);
	                resetValidation(mDetailAddress);
					showModalAlert("확인", "회원 정보 변경을 실패하였습니다. 다시 시도해 주세요.");
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	
	function setProfileFileUpload() {
		var file = fUploadFiles.files[0];
		
		// fUploadFiles 빈값이나 null이면 허용하므로, 아닐때만 파일 업로드 처리
		if (file == null 
				|| (file != null && file.name == null)
				|| (file != null && file.name != null && file.name.trim() == "")) {
			showModalAlert("확인", "회원 정보를 변경하였습니다.");
		} else {
			var formData = new FormData();
			formData.append("fUploadFiles", file);
			formData.append("mSeq", $("#mSeq").val());
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/usr/member/MemberUsrPfUpdt"
				,data: formData
			    ,contentType: false
			    ,processData: false
				,success: function(response) {
					if (response.rt == "success") {
						showModalAlert("확인", "회원 정보를 변경하였습니다.");
					} else {
						resetValidation(fFileName);
						showModalAlert("확인", "회원 프로필 사진 변경을 실패하였습니다. 다시 시도해 주세요.");
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
	}
	
	$("#modalAlert").on("hidden.bs.modal", function (e) {
		location.href = "/usr/member/MemberUsrAccountForm";
	});
</script>

<!-- 로그아웃 -->
<script type="text/javascript">
	$("#btnSignOutAccount").on("click", function(){
		signOut();
	});
</script>

</body>